/*
Theme Name: elektra.com.mt
Theme URI: elektra.com.mt
Author: Keen
Author URI: http://www.keen.com.mt
Description: 
Version: 1.0.0
Text Domain: _s
*/

header .mobile-nav-hamburger {
    display: none;
    align-items: center;
}

header .social-icons-column a {
    text-decoration: none;
}

header .social-icons-column a:hover,
header .social-icons-column a:active {
    text-decoration: underline;
    cursor: pointer;
}

header .mobile-nav-hamburger .hamburger:hover {
    background: unset;
}

header .search-column .search-mobile {
    width: 20px;
    display: none;
}

header .nav-mobile {
    padding-top: 0 !important;
    margin-top: 9px;
}

.work-with-us-five-values-principles .work-with-us-five-values h3, .work-with-us-five-values-principles .work-with-us-five-principles h3 {
    width: 80%;
    margin: 0 auto 30px auto;
}

.work-with-us-our-activities .col-count-2 {
    column-gap: 106px;
}

.meet-our-people-description {
    margin-top: 50px !important;
    margin-bottom: 60px !important;
}

.work-with-us-meet-our-people .meet-our-people-name {
    margin-bottom: 10px !important;
}

.contact-direction .directions {
    padding: 0 15px;
}

/* Projects */
.projects-content p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 72px;
    padding-bottom: 57px;
}

/* Footer */
footer .footer-main .footer-main-logo a {
    display: inline-block;
}

@media (max-width: 1199px) {
    .projects-projects .all-projects-slider .projects-slider-slide .slide-text {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .projects-projects .all-projects-slider .projects-slider-slide .slide-text p {
        text-align: center !important;
    }
}

@media (max-width: 979px) {

    header .top-nav {
        justify-content: center;
    }

    header .mobile-nav-hamburger {
        display: flex;
    }

    header .social-icons-column {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    header .social-icons-column h4 {
        margin-bottom: 0 !important;
        margin-right: 25px !important;
    }

    header .social-icons-column .social-icons {
        height: 20px;
    }

    header .horizontal-line {
        display: none;
    }

    .about-timeline .about-timeline-events .single-event-year {
        position: absolute;
        top: 0;
        left: 0;
        right: unset;
    }

    .work-with-us-five-values-principles .work-with-us-five-values h3, .work-with-us-five-values-principles .work-with-us-five-principles h3 {
        width: 100%;
    }

    .contact-requisite .contact-contact .horizontal-line {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contact-requisite .send-message-row {
        margin-top: 10px !important;
    }
}

@media (max-width: 767px) {
    header .top-nav {
        text-align: center;
    }

    header .top-nav .top-nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .top-nav .top-nav-logo img {
        width: 100px;
    }

    header .search-column {
        margin: 20px 0;
        padding-right: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    header .search-column .search-mobile {
        display: inline-block;
    }

    header .search-input {
        display: none;
        position: absolute;
        top: 70px;
        left: calc(50% - 139px);
    }

    header .search-column input {
        background: none !important;
    }

    header .search-input-show {
        display: block;
    }

    header .social-icons-column {
        text-align: center;
    }
    
    .social-icons-column-margin {
        margin-top: 65px !important;
    }

    .projects-content p {
        font-size: 18px !important;
        line-height: 24px !important;
        padding-top: 42px;
        padding-bottom: 27px;
    }

    .our-brands .slick-prev {
        /* top: 42px !important;
        left: 1% !important; */
        top: 50% !important;
        left: 0 !important;
    }
    
    .our-brands .slick-next {
        /* top: 42px !important;
        right: 1% !important; */
        top: 50% !important;
        right: 0 !important;
    }

    .projects-projects .projects-projects-row {
        padding-bottom: 0 !important;
    }

    .projects-projects h2 {
        margin-top: 57px !important;
    }

    .projects-projects .projects-button {
        padding-top: 77px;
    }

    footer .footer-main .footer-nav nav {
        margin-bottom: 0 !important;
        z-index: 1;
        position: relative;
    }

    footer .footer-main .social-icons-column {
        z-index: 1;
        position: relative;
    }
}

@media (max-width: 550px) {
    .services-list ul {
        margin: 0 15px !important;
    }
}

@media (max-width: 452px) {
    .slider-main .home-slider .home-slider-row {
        /* padding-top: 80px !important; */
    }
}

@media (max-width: 320px) {
    .slider-main .home-slider .home-slider-row {
        padding-top: 24px !important;
    }
}

/*Lukas*/
.email a {
    color: #95989D;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}
.email a:hover {
    color: #95989D;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
}
.email a:focus {
    color: #95989D;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
}
header .social-icons img {
    transition: opacity .4s;
}
header .social-icons img:hover {
    opacity: 0.8;
}

.projects-slider-slide iframe {
    position: relative;
    height: 768px;
    width: 1194px;
    margin-right: 100px;
    max-width: 100%;
}
@media(max-width: 1194px) {
    .projects-slider-slide iframe {
        width: 100vh;
    }
}
.footer-newsletter .frm_fields_container {
    width: 100% !important;
    display: flex !important;
}
@media(max-width: 767px) {
    .footer-newsletter .frm_fields_container {
        display: block !important;
    }
}
.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.services-content p {
    display: inline-block !important;
}
.meet-our-people-description {
    margin-bottom: 30px;
}
.meet-our-people-board-row > div {
    margin-top: 30px;
}
.work-with-us-meet-our-people .meet-our-people-name {
    height: auto !important;
}

@media(max-width: 768px) {
    .projects-projects h2 {
        font-size: 32px !important;
        line-height: 1 !important;
    }
    .contact-hours__wrapper {
        margin-top: 0 !important;
    }
}


