/* Slider */
.box-gallery {
    /*background-color: #2b303a;*/
    visibility: hidden;
}

.box-gallery .inner {
    padding: 50px;
}

.sgallery-item {
    margin: 0 25px;
    position: relative;
}

.sgallery-item h3 {
    text-align: center;
    background-color: rgba(0,0,0,0.45);
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    padding: 0.75em;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
}

.sgallery-item .title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

/* .box-gallery .slick-slide {
    margin: 0 -25px;
}*/


.sgallery-image {
    width: 500px; height: 333px; 
    background-size: cover;
    background-position: center;
}

.box-gallery .slick-prev {
    /*left: -10px;*/
    left: -30px;
    width: 22px;
    height: 45px;
}

.box-gallery .slick-next {
    right: -30px;
    /*right:-10px;*/
    width: 22px;
    height: 45px;
}

.box-gallery .slick-slide {
    transition: all 0.1s ease;
}

.box-gallery .slick-slide {
    transform: scale(0.9);
    opacity: 0.65;
    z-index: 1;
}

.box-gallery .slick-slide.slick-current.slick-active.slick-center{
    transform: scale(1);
    opacity: 1;
    z-index: 2;
}

.sgallery-item img {
    margin: 0 auto;
    min-width: 100%;
}
