@charset "utf-8";

/* ============================== */
/* 
	- Title: University Landing Page - mustachethemes
	- Autor: mustachethemes
*/
/* ============================== */

/* .............. Light Color ................ */
h1, h2, h3, h4{
	color:#333333;
}

a {
	color:#333333;
}

.slider .container .span6.offset6 {
	border-top: solid 2px #333333;
}

.slider .container .span6.offset6:after {
  border-top: 10px solid #333333;
}

.form input.button{
	background-color:#333333;
}

.courses .item .btn:hover {
	background: #333333;
}

.table-header {
	background-color:#333333;
}

.table-button a:hover {
	background-color:#333333;
}

.newsletter {
	background-color:#333333;
}

.newsletter input.button {
	color:#333333;
}
/*.ch-item:hover {
	box-shadow: inset 0 0 0 100px rgba(255,155,12, 0.7),inset 0 0 0 6px rgba(1,106,193,0.9),0 1px 2px rgba(1,106,193,0.1);
	-webkit-box-shadow: inset 0 0 0 100px rgba(255,155,12, 0.7),inset 0 0 0 6px rgba(1,106,193,0.9),0 1px 2px rgba(1,106,193,0.1);
}*/

/* .............. Dark Color ................ */
.top {
	background-color: #ff9b09;
}
.form input.button:hover{
	background-color: #ff9b0b;	
}
.newsletter input.button:hover {
	background-color:#ff9b09;
}
footer {
	background-color: #000000;
}
.tooltip-inner {
  color: #ff9b09;
}

/* .............. Images with color ................ */
/*
.info h3.iconbestcity {
	background: url(../../img/blue/icon-bestcity.png) 0 0 no-repeat;
}
.info h3.iconworldwide {
	background: url(../../img/blue/icon-worldwide.png) 0 0 no-repeat;
}
.info h3.iconcommunity {
	background: url(../../img/blue/icon-community.png) 0 0 no-repeat;
}
.info h3.iconfacilities {
	background: url(../../img/blue/icon-facilities.png) 0 0 no-repeat;
}
*/

a.navi-left{
	background: url(../../img/blue/navi.png) no-repeat;
}
.navi-right{
	background: url(../../img/blue/navi.png) no-repeat;
}



footer ul.social li a.linkedin{
	background: url(../../img/blue/social-icons-linkedin.png) top center no-repeat;
}

footer ul.social li a.youtube{
	background: url(../../img/blue/social-icons-youtube.png) top center no-repeat;
}

footer ul.social li a.facebook{
	background: url(../../img/blue/social-icons-facebook.png) top center no-repeat;
}

footer ul.social li a.twitter{
	background: url(../../img/blue/social-icons-twitter.png) top center no-repeat;
}
