#accordion-second .accordion-group{
  margin-bottom:10px;
}
#accordion-second .accordion-heading{
  border-bottom:0;
  font-size:16px;
}
#accordion-second .accordion-heading .accordion-toggle{
  display:block;
  cursor:pointer;
  padding:0 !important;
  color:#222222;
  background:#f5f5f5;
  outline:none!important;
  text-decoration:none
}
#accordion-second .accordion-heading,
#accordion-second .accordion-toggle:hover,
#accordion-second .accordion-heading .accordion-toggle.active{
  background:#f5f5f5;
}
#accordion-second .accordion-heading .accordion-toggle > em {
  background-color: #222222;
  border-radius:0;
  color: #FFFFFF;
  font-size:14px;
  height: 37px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}
#accordion-second .accordion-inner{
  padding:9px 10px;
  background:#f5f5f5;
}
#accordion-first .accordion-group{
  margin-bottom:10px;
}
#accordion-first .accordion-heading{
  border-bottom:0;
  font-size:16px;
}
#accordion-first .accordion-heading .accordion-toggle{
  display:block;
  cursor:pointer;
  padding:5px 0 !important;
  color:#222222;
  outline:none!important;
  text-decoration:none
}
#accordion-first .accordion-heading,
#accordion-first .accordion-toggle:hover,
#accordion-first .accordion-heading .accordion-toggle.active{
  background:none;
}
#accordion-first .accordion-heading .accordion-toggle > em {
  background-color: #222222;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  border-radius:100px;
  color: #FFFFFF;
  font-size:14px;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  text-align: center;
  width: 32px;
}
#accordion-first .accordion-inner{
  padding:9px 10px;
}