#comments_form .form-control{
  margin-bottom:10px;
}
#comments {padding:20px;}
.comment-list {
  margin: 60px 0;
  list-style:none;
}
.comment-list ul li,
.comment-list ol li {
  list-style:none;
}
.comment-avatar {
  margin: 0 20px 0 0;
  float: left;
  height: 70px; width: 70px;
}
.comment-content {
  background: #ffffff;
  border: 1px solid #efefef;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px;
}
.comment-reply a {
  color:#fff !important;
}
.comment-author {
  margin-bottom: 10px;
}
.comment-meta {
  font-size: 12px;
  color: #aaa;
  padding-left:10px;
}
.comment-reply {
  margin:-10px -5px 0 0;
  float: right;
  font-size: 12px;
  color: #ffffff;
}
.leave-comment textarea {
  height: 150px;
}
.authorbox_wrapper {
  padding:20px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 50px;
}
.authorbox_wrapper img {
  margin:0 20px 20px 0;
  width:100px !important;
}
.authorbox_wrapper h4 {
  margin-bottom:0;
  padding-bottom:0;
}
.authorbox_wrapper p {
  padding-top:5px;
  margin-top:5px;
}
.blog_button {
  -moz-user-select: none;
  background:#fff;
  border: 1px solid #cbcbcb;
  color: #cbcbcb;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.42857;
  margin-bottom: 30px;
  padding: 10px 23px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #cecece;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #cecece;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #cecece;
  border-right: 0 solid #cecece;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.post-wrapper-top {
  background:#f5f5f5;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  border-bottom: 3px solid #efefef;
  margin-bottom: 0;
  padding:0;
  position: relative;
  text-align: left;
}
.breadcrumb > li + li:before {
  font-size:13px;
}
.post-wrapper-top h2 {
  border-bottom: 3px solid #fff;
  display: inline-block;
  font-size:24px;
  padding: 30px 0;
  color:#222222;
  position: relative;
  margin-bottom:-3px;
}
.breadcrumb {
  bottom: 0;
  color: #777777;
  background:transparent;
  font-size: 14px;
  font-weight: 400;
  list-style: none outside none;
  padding: 10px 0;
  position: absolute;
  right: 0;
}
.breadcrumb > li + li:before {
  content:"";
  background:url(images/breadcrumb.png) no-repeat center center;
  margin:0 10px;
  padding:0 10px
}
.blog-wrapper hr {
  margin-top:40px;
  margin-bottom:40px;
}
.pagination > li > a,
.pagination > li > span {
  background-color: #f5f5f5;
  color: #222222;
  float: left;
  line-height: 1.82857;
  margin-left: 5px;
  padding: 3px 10px;
  position: relative;
  text-decoration: none;
}
.quote-post {
  background:#f5f5f5;
  position: relative;
  padding:20px 10px 10px;
}
.quote-post:after {
  font-family: 'FontAwesome';
  content: "\f10e";
  padding-right:20px;
  right:0;
  position:absolute;
  top:50px;
  color:#000000;
  font-size:600%;
  opacity: 0.1; -moz-opacity: 0.1; filter: alpha(opacity=10);
}
.quote-post blockquote {
  border-left:0px solid #fff;
}