.breadcrumb-wrapper {
  border-bottom: 1px solid #EFEFEF;
  border-top: 1px solid #EFEFEF;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.breadcrumbs {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  margin-bottom: 0px !important;
  padding-left:0px;
  margin-left:0px;
}
.breadcrumbs {
  list-style: none outside none;
}
.breadcrumbs > * {
  color: #e9b51d;
  float: left;
  margin: 0;
}
.breadcrumbs > *:hover a, .breadcrumbs > *:focus a {
  text-decoration: underline;
}
.breadcrumbs > * a {
  color: #E9B51D;
}
.breadcrumbs > .current {
  color: #333333;
  cursor: default;
}
.breadcrumbs > .current a {
  color: #333333;
  cursor: default;
}
.breadcrumbs > .current:hover, .breadcrumbs > .current:hover a, .breadcrumbs > .current:focus, .breadcrumbs > .current:focus a {
  text-decoration: none;
}
.breadcrumbs > .unavailable {
  color: #999999;
}
.breadcrumbs > .unavailable a {
  color: #999999;
}
.breadcrumbs > .unavailable:hover, .breadcrumbs > .unavailable:hover a, .breadcrumbs > .unavailable:focus, .breadcrumbs > .unavailable a:focus {
  color: #999999;
  cursor: default;
  text-decoration: none;
}
.breadcrumbs > *:before {
  color: #AAAAAA;
  content: "/";
  margin: 0 0.75rem;
  position: relative;
  top: 1px;
}
.breadcrumbs > *:first-child:before {
  content: " ";
  margin: 0;
}
