#map, #map-wrapper {
  width: 100%;
}
#map-wrapper {
  height: 60px;
  overflow: hidden;
  position: relative;
}
#map {
  height: 400px;
}
.map-expand-button {
  background-image: url("../assets/icon_expand.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  margin-left: 1260px;
  position: absolute;
  top: 10px;
  width: 40px;
  z-index: 999;
}
.map-expand-button:hover {
  background-position: 0 -40px;
}
#enquiryFormGeneral label {
  color: #666666;
  display: block;
  font-size: 13px;
  margin: 8px 0;
}
#enquiryFormGeneral input {
  background-color: white;
  background-image: none;
  // border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
#enquiryFormGeneral input[type="email"] {
  border-radius: 0px;
}

#enquiryFormGeneral textarea {
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

/* Newsletter */
.singup-wrap input#signup {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 0;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  height: auto;
  padding: 12px;
}
.singup-wrap .btn-default {
  background: none repeat scroll 0 0 #E9B51D;
  border: 1px solid #FFFFFF;
  border-radius: 0;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.03em;
  padding: 10px 12px;
  text-transform: uppercase;
  transition: all 0.15s linear 0s;
}
.singup-wrap .btn-default:hover {
  background: none repeat scroll 0 0 #2A333B;
}
/* Boxes */
.shadow-wrap {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D1D1D1;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  padding: 20px;
  margin-bottom: 20px;
  z-index: 10;
}
.belgium {
  background-image: url("../assets/europe_belgium.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 9;
}
.holland {
  background-image: url("../assets/europe_holland.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 9;
}
.germany {
  background-image: url("../assets/europe_germany.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  z-index: 9;
}
/* Social Icons */
.social-icons2 {
  margin: 50px 0;
  text-align: center;
}
.social-icons2 ul {
  margin: 0;
  padding: 0;
}
.social-icons2 ul li {
  display: inline-block;
  padding: 0 7px;
}
.social-icons2 ul li a {
  background: none repeat scroll 0 0 #E9B51D;
  border: 1px solid #FFFFFF;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  color: #FFFFFF;
  display: block;
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}
.social-icons2 ul li a:hover {
  background: none repeat scroll 0 0 #2A333B;
  color: #FFFFFF;
  transform: translate(0px, -5px);
}

.bootstrap-select.form-control:not([class*="span"]) {
  width: 100%;
}
.bootstrap-select > .btn.input-sm {
  font-size: 12px;
}
.bootstrap-select > .btn.input-lg {
  font-size: 16px;
}
.bootstrap-select > .btn {
  padding-right: 25px;
  width: 100%;
}
.error .bootstrap-select .btn {
  border: 1px solid #b94a48;
}
.bootstrap-select.show-menu-arrow.open > .btn {
  z-index: 2051;
}
.bootstrap-select .btn:focus {
  outline: thin dotted #333 !important;
  outline-offset: -2px;
}
.bootstrap-select.btn-group .btn .filter-option {
  display: inline-block;
  float: left;
  overflow: hidden;
  text-align: left;
  width: 100%;
}
.bootstrap-select.btn-group .btn .filter-option {
  display: inline-block;
  float: left;
  overflow: hidden;
  text-align: left;
  width: 100%;
}
.bootstrap-select.btn-group .btn .caret {
  margin-top: -2px;
  position: absolute;
  right: 12px;
  top: 50%;
  vertical-align: middle;
}
.bootstrap-select.btn-group > .disabled, .bootstrap-select.btn-group .dropdown-menu li.disabled > a {
  cursor: not-allowed;
}
.bootstrap-select.btn-group > .disabled:focus {
  outline: medium none !important;
}
.bootstrap-select.btn-group[class*="span"] .btn {
  width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu {
  box-sizing: border-box;
  min-width: 100%;
  z-index: 2000;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: static;
}
.bootstrap-select.btn-group .dropdown-menu dt {
  cursor: default;
  display: block;
  padding: 3px 20px;
}
.bootstrap-select.btn-group .div-contain {
  overflow: hidden;
}
.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li > a.opt {
  padding-left: 35px;
  position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li > a {
  cursor: pointer;
}
.bootstrap-select.btn-group .dropdown-menu li > dt small {
  font-weight: normal;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark {
  display: inline-block;
  margin-top: 2.5px;
  position: absolute;
  right: 15px;
}
.bootstrap-select.btn-group .dropdown-menu li a i.check-mark {
  display: none;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}
.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}
.bootstrap-select.btn-group .dropdown-menu li > dt small {
  font-weight: normal;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: -4px;
  content: "";
  display: none;
  left: 9px;
  position: absolute;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  bottom: -4px;
  content: "";
  display: none;
  left: 10px;
  position: absolute;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  border-bottom: 0 none;
  border-top: 7px solid rgba(0, 0, 0, 0.2);
  bottom: auto;
  top: -3px;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  border-bottom: 0 none;
  border-top: 6px solid #fff;
  bottom: auto;
  top: -3px;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  left: auto;
  right: 12px;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  left: auto;
  right: 13px;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}
.bootstrap-select.btn-group .no-results {
  background: none repeat scroll 0 0 #f5f5f5;
  margin: 0 5px;
  padding: 3px;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
  background: none repeat scroll 0 0 #f5f5f5;
  border: 1px solid #e3e3e3;
  bottom: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  box-sizing: border-box;
  margin: 0 2%;
  min-height: 26px;
  opacity: 0.9;
  padding: 3px 5px;
  pointer-events: none;
  position: absolute;
  width: 96%;
}
.mobile-device {
  display: block !important;
  height: 100% !important;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.bootstrap-select.fit-width {
  width: auto !important;
}
.bootstrap-select.btn-group.fit-width .btn .filter-option {
  position: static;
}
.bootstrap-select.btn-group.fit-width .btn .caret {
  margin-top: -1px;
  position: static;
  top: auto;
}
.control-group.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48;
}
.bootstrap-select-searchbox, .bootstrap-select .bs-actionsbox {
  padding: 4px 8px;
}
.bootstrap-select .bs-actionsbox {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
.bootstrap-select-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}
.bootstrap-select-searchbox input {
  margin-bottom: 0;
}
.bootstrap-select .bs-actionsbox .btn-group button {
  width: 50%;
}