#copyrights {
  background-color:#0c0c0c;
  padding:20px 0 10px;
  color:#c3c3c3;
  display:block;
  position:relative;
  font-size: 80%;
}
#footer-style-2,
#footer-style-3,
#footer-style-1 {
  background-color:#333;
  padding:40px 0;
  display:block;
  position:relative;
  font-size: 90%;
}
#footer-style-2 .widget h3,
#footer-style-3 .widget h3,
#footer-style-1 .widget h3 {
  font-size:20px;
}
#footer-style-2 .social-icons span a,
#footer-style-3 .social-icons span a,
#footer-style-1 .social-icons span a {
  border:none;
  color:#686868;
}
.footer-menu ul{
  list-style:none;
  list-style-position:outside;
  float:right;
  display:inline;
  margin:5px;
}
.footer-menu li{
  line-height:12px;
  float:left;
  padding:0 7px;
}
.footer-menu li a {
  color:#c3c3c3;
}
.footer_post li img {
  padding:4px;
  width:80px;
}
.footer_post li {
  float:left;
  margin:2px;
  list-style:none;
}
.dmtop {
  background-color: #161616;
  background-image: url("../assets/arrow.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  bottom: -100px;
  cursor: pointer;
  height: 40px;
  overflow: auto;
  position: fixed;
  right: 25px;
  text-indent: -99999px;
  transition: all 0.7s ease-in-out 0s;
  width: 40px;
  z-index: 9999;
}



