// Table Updates
.table-striped {
  border: 1px solid #EDEDED;
}
.tableInputs {
  background-color:rgba(0, 0, 0, 0.04);
  border: 1px solid #e3e3e3;
  padding:10px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border: 1px solid #EDEDED;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.06);
}
.input-icon {
  position: relative;
}
.input-icon input {
  color: #999999;
  padding-left: 33px !important;
}
.input-icon i {
  color: #999999;
  display: block;
  font-size: 16px;
  height: 16px;
  margin: 10px 2px 4px 10px;
  position: absolute;
  text-align: center;
  width: 16px;
}
.input-icon.right input {
  padding-left: 12px !important;
  padding-right: 33px !important;
}
.input-icon.right i {
  float: right;
  right: 8px;
}
.has-success .input-icon i {
  color: #5CB85C;
}
.has-warning .input-icon i {
  color: #F0AD4E;
}
.has-error .input-icon i {
  color: #D9534F;
}
:-moz-placeholder {
  color: #B8BEC8 !important;
}
*::-moz-placeholder {
  color: #B8BEC8 !important;
}
.input-group-addon {
  border-color: #E5E5E5;
  color: #999999;
}
label {
  font-weight: normal;
}
.form-group .checkbox {
  padding-left: 0;
}
.form-group .radio-inline, .form-group .checkbox-inline {
  padding-top: 0;
}
.checkbox-list > label {
  display: block;
}
.checkbox-list > label.checkbox-inline {
  display: inline-block;
}
.checkbox-list > label.checkbox-inline:first-child {
  padding-left: 0;
}
.dropdown-checkboxes {
  padding: 5px !important;
}
.dropdown-checkboxes label {
  display: block;
  font-weight: 300;
  margin-bottom: 4px;
  margin-top: 4px;
}
.radio-list > label {
  display: block;
}
.radio-list > label.radio-inline {
  display: inline-block;
}
.radio-list > label.radio-inline:first-child {
  padding-left: 0;
}
.form-horizontal .radio-list .radio {
  padding-top: 1px;
}
.text-muted {
  color: #B8BEC8;
}
.require {
  color: #FF0000;
}

.form-control-feedback {
  top: 0px;
}