.bottrap {
  visibility:hidden;
  overflow:hidden;
}
.padding-top {
  padding: 24px 0 10px;
}
.btn-primary {
  background-color: #F7C221;
  border-color: #E9B51D;
  color: white;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #E9B51D;
  border-color: #F7C221;
  color: white;
}
.dropdown-body li {
  font-family: "FontAwesome";
  content: "\f105";
  font-size: 13px;
  padding-right:5px;
}

.doc {
  p{
    text-align: justify;
    color: #686868;
      strong {
        color:#333;
    }
  }
  .butlink {
    a {
      color:#333;
        a:hover{
          color: #686868
      }
    }
  }
  h4 {
    border-bottom: 1px dotted #EDEDED;
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
  }
  h1, h2, h3 {
    color: #E9B51D;
    font-size: 24px;
  }
}
.check li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  font-size: 16px;
  left: 0;
  padding-right:5px;
  position: relative;
  top: 2px;
}
.check li {
  font-size:13px;
  list-style:none;
  margin-bottom:4px;
}
.check {
  margin-left:16px;
  margin-bottom: 20px;
  padding-left:0
}
.check li a {
  color:#656565;
}

// Pullquotes

.has-pullquote:before {

  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 320px;
  margin: 12px 0px 24px 30px;
  color: #E9B51D;
  text-align: right;

  /* Baseline correction */
  position: relative;
  top: 5px;

  /* Typography (30px line-height equals 25% incremental leading) */
  font-size: 23px;
  line-height: 30px;
}
.pullquote-left:before {
  float: left;
  margin: 12px 0 24px 36px;
  width: 251px;
}
.pullquote-adelle:before {
  font-family: $font-family-sans-serif;
  font-weight: 100;

  top: 10px !important;
}

.pullquote-helvetica:before {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;

  top: 7px !important;
}
.pullquote-facit:before {
  font-family: $font-family-sans-serif;
  font-weight: bold;

  top: 7px !important;
}
.lead {
  font-size: 14px;
}
.faright {
  float: right !important;
  margin-top: -16px;
}

.dl-horizontal dt {
  text-align: left !important;
  width: 220px !important;
}
.dl-horizontal dd {
  margin-left: 220px !important;
}

.indent {
  margin-left: 25px;
}
.butlink {
  margin-top: 15px;
  margin-bottom: 15px;
}
