.headline-top {
  background: none repeat scroll 0 0 #F5F5F5;
  background-image: url("../assets/background1.jpg");
  background-repeat: no-repeat;
  border-bottom: 3px solid #EFEFEF;
  border-top: 3px solid #EFEFEF;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  right: 0;
  text-align: left;
  top: 0;
  z-index: 0;
      h1 {
        margin-bottom: 20px;
        margin-top: 20px;
        color: #222222;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        font-size: 18px;
      }
}
.head-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}