
/* Landscape phones and smaller */
@media only screen and (max-width: 480px) {
  body {
    font-size: 10px;
  }
  .has-pullquote:before {
    font-size: 18px;
    line-height: 22px;
    margin: 12px 0 24px 30px;
    padding: 0;
    top: 5px;
    width:280px;
  }
  .btn-lg, .btn-group-lg > .btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
  }
}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .map-expand-button {
    margin-left: 480px !important
  }
  .entry {
    align: center;
  }
}
/* Portrait tablets and small desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .map-expand-button {
    margin-left: 710px !important
  }
  .entry {
    align: center;
  }
}
/* Portrait tablets and medium desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .map-expand-button {
    margin-left: 710px !important
  }
}
/* Large desktops and laptops */
@media only screen and (min-width: 1200px) {
}

@media (max-width: 1199px) {

}