
.custom-wrapper .col-lg-6 {
  padding:0;
}
.custom-wrapper .overlay {
  background-color:rgba(0, 0, 0, 0.4);
  padding:0;
}
.parallax {
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jt-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}
.custom-overlay {
  padding: 60px 0;
}
.overlay {
  padding: 60px 0;
  background-color:rgba(0, 0, 0, 0.7);
}
.dark-wrapper {
  background-color:#222222;
  padding:60px 0;
}
.grey-wrapper {
  background-color:#f5f5f5;
  padding:60px 0;
}
.white-wrapper {
  background-color:#ffffff;
  padding:60px 0;
}
.blog-wrapper {
  background-color:#ffffff;
  padding:30px 0;
}
.custom-message {
  padding:90px 0;
}
.custom-message h1 {
  text-align:center;
  font-weight:bold;
  font-size:54px;
}
.custom-wrapper {
  background: url("../assets/custom_wrapper_bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.custom-wrapper .testimonial h3 {
  color:#222 !important;
}
#boxed {
  background: url("../assets/cbg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#boxed #wrapper {
  background:#fff;
  margin:50px auto;
}
#boxed .white-wrapper,
#boxed .grey-wrapper {
  margin:0 -15px;
}
#boxed #topbar .social-icons span a,
#boxed #topbar .social-icons span.last a,
#boxed #topbar .topbar-email,
#boxed #topbar .topbar-phone,
#boxed #topbar .topbar-login,
#boxed #topbar .topbar-cart,
#boxed #topbar {
  border:none;
}
.grey-wrapper #accordion-second .accordion-heading .accordion-toggle,
.grey-wrapper #accordion-second .accordion-heading,
.grey-wrapper #accordion-second .accordion-toggle:hover,
.grey-wrapper #accordion-second .accordion-heading .accordion-toggle.active,
.grey-wrapper #accordion-second .accordion-inner,
.grey-wrapper .testimonial-wrap {
  background:#fff;
}
.general-title hr {
  width:30px;
  margin-bottom:0;
  margin-top:0;
  border-width: 2px 0 0;
}
.general-title h2 {
  font-size:31px;
  text-rendering: optimizeSpeed;
  letter-spacing:0.6px;
  padding-bottom:0;
  font-weight:bold;
}
.general-title,
.messagebox {
  text-align:center;
}
.general-title .lead {
  margin-top:10px !important;
}
