.nav-tabs > li > a {
  border: 0px solid transparent;
  line-height: 1.42857;
  margin-right: 2px;
}
.nav-stacked li:last-child {
  border-bottom:0 solid #efefef !important;
}
.nav-stacked > li > a {
  color:#222222;
  border:0 solid #efefef !important;
}
.nav-stacked li {
  border-top:0 solid #efefef !important;
  border-left:0 solid #efefef !important;
  border-bottom:1px solid #efefef !important;
  border-right:0 solid #efefef !important;
}