.header_center a.navbar-brand {
  margin: 0 auto !important;
  display: inline-block;
  position: relative;
  float: none !important;
}

.dark_header a.navbar-brand {
  color:#fff !important;
}

#header-style-1.affix a.navbar-brand {
  font-size:31px !important;
  margin:5px 0 0;
}

#header-style-1.affix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top:0;
  padding:10px 0;
  min-height:inherit;
  z-index: 999;
  background:#ffffff;
  background: rgba(255,255,255,1);
  border-bottom: 1px solid #efefef;
}
#header-style-1.affix .navbar {
  margin-top:0px;
}
#header-style-1.affix .navbar-nav > li > .dropdown-menu {
  margin-top:12px !important;
}
#header-style-1.affix .navbar-brand img {
  width:80%;
  margin-top:7px
}
#header-style-1.affix .navbar-brand {
  line-height:38px;
}
.dark_header .arrow-up {
  border-bottom-color:#121214 !important;
}
.dark_header .navbar-nav > li > a {
  color:#fff !important;
}
.dark_header .topbar-email,
.dark_header .topbar-phone,
.dark_header .topbar-login,
.dark_header .topbar-cart {
  border-left: 1px solid #313131 !important;
  border-right: 1px solid #313131 !important;
}
.dark_header .social-icons span.last a {
  border-right-color:#313131 !important
}
.dark_header .social-icons span a {
  border-left-color:#313131 !important
}
.dark_header .navbar-default {
  background:#121214 !important;
}
.dark_header {
  background:#121214 !important;
  border-bottom-color:#212121 !important
}
.header_center .navbar-collapse.collapse {
  text-align: center;
  height: auto !important;
  overflow: visible !important;
}
.header_center .navbar-nav {
  display:inline-block;
  float: none;
  margin: 0;
}
.header_center .logo_center {
  padding:20px 0 30px !important
}
#header-style-1 {
  padding:24px 0;
  background-color:#ffffff;
  background: rgba(255, 255, 255, 1);
  border-bottom:1px solid #f2f2f2;
}
#header-style-1 .navbar-default {
  background-color:#ffffff;
  background: rgba(255, 255, 255, 1);
  border-color: rgba(0, 0, 0, 0);
}
#header-style-1 .navbar-brand {
  padding:0;
}
#header-style-1 .navbar {
  margin-bottom:0;
}
#header-style-1 .yamm .nav,
#header-style-1 .yamm .collapse,
#header-style-1 .yamm .dropup,
#header-style-1 .yamm .dropdown {
  position: static;
}
#header-style-1 .yamm .container {
  position: relative;
}
#header-style-1 .yamm .dropdown-menu {
  left: auto;
  right:auto;
}
.white-wrapper .testimonial h3,
#header-style-1 .yamm-fw .dropdown-menu li a {
  color:#222222 !important;
}
#header-style-1 .yamm-fw .dropdown-menu li a:before {
  font-family: "FontAwesome";
  content: "\f105";
  font-size: 13px;
  padding-right:5px;
}
#header-style-1 .yamm-fw .dropdown-menu li {
  list-style:none;
  padding:0;
}
#header-style-1 .yamm-fw .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
#header-style-1 .yamm .yamm-content {
  padding: 20px;
}
#header-style-1 a:hover {
  text-decoration:none;
}
#header-style-1 .dropdown-menu li a:focus,
#header-style-1 .dropdown-menu li a:active,
#header-style-1 .dropdown-menu li a:hover {
  background-color:#fafafa;
}
#header-style-1 .yamm img {
  margin-bottom:10px;
}
#header-style-1 .yamm h3 {
  text-transform:uppercase;
  font-size:14px;
  color:#222222;
  padding:5px 0;
}
#header-style-1 .dropdown-menu,
#header-style-1 .yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
  background-color:#f5f5f5;
  box-shadow:none;
  margin-top:25px;
  border-top:3px solid #fff;
}
#header-style-1 .navbar-nav > li > a {
  text-transform:uppercase;
  color:#222222;
  font-family: 'PT Sans',sans-serif;
  padding: 9px 12px;
  margin-top:8px;
}
#header-style-1 .dropdown-menu li a {
  text-decoration:none;
  display:block;
  position:relative;
  font-family: 'PT Sans',sans-serif;
  padding:10px 20px;
}
#header-style-1 .dropdown-menu {
  padding:0 !important;
  border-radius:0 !important;
}
#header-style-1 .yamm-fw .dropdown-menu li a {
  padding:5px 15px;
}
#header-style-1 .dropdown-menu li {
  float:none;
  display:block;
  margin:0;
  text-align: left;
  border: 0;
  border-bottom: 1px solid #d5d5d5;
}
#header-style-1 .dropdown-menu li:last-child{
  border-bottom: 0;
}
#topbar {
  border-bottom:1px solid $borders;
}
.social-icons {
  padding:0;
  display:block;
  overflow:hidden
}
.social-icons span a {
  border-left:1px solid $borders;
  font-size:14px;
  text-align:center;
  width:40px;
  height:42px;
  line-height:42px;
  overflow:hidden;
  display:block;
  float:left
}
#header-style-1 .navbar-nav > li > a:hover,
#header-style-1 .navbar-nav > li > a:focus,
#header-style-1 .navbar-nav > li > a:active,
#header-style-1 .navbar-default .navbar-nav > .open > a,
#header-style-1 .navbar-default .navbar-nav > .open > a:hover,
#header-style-1 .navbar-default .navbar-nav > .open > a:focus,
#topbar .social-icons span:hover a {
  color:#fff !important;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  // @include border-radius(3px);
}
#topbar,
#topbar a {
  color:#888888;
}
#topbar .social-icons span.last a {
  border-right:1px solid $borders;
}
#topbar .topbar-email,
#topbar .topbar-phone,
#topbar .topbar-login,
#topbar .topbar-cart {
  float:left;
  padding:0 15px;
  line-height:42px;
  border-right:1px solid $borders;
  border-left:1px solid $borders;
}
#topbar .topbar-phone,
#topbar .topbar-email,
#topbar .topbar-login {
  border-right:none;
}
#topbar .col-lg-4 {
  padding-left:0;
}
#topbar .col-lg-8 {
  padding-right:0;
}
#topbar .callus,
#topbar .topmenu {
  display:block;
  float:right
}
.yamm .dropdown-submenu{
  position:relative;
}
.yamm .dropdown-submenu>.dropdown-menu{
  top:0;
  left:100% !important;
  margin-top:-3px !important;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
.yamm .dropdown-submenu:hover>.dropdown-menu{
  display:block;
}
.yamm .dropdown-submenu.pull-left{
  float:none;
}
.yamm .dropdown-submenu.pull-left>.dropdown-menu{
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
}
.arrow-up {
  border-bottom: 5px solid #FFFFFF;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  bottom: -1px;
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 0;
}
a.navbar-brand {
  background: url("../assets/logo.png") no-repeat scroll left top rgba(0, 0, 0, 0);
  color: #222222 !important;
  font-size: 35px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 0;
  padding-left:210px !important;
}
a.remove {
  // background: url("../assets/remove.png") repeat scroll 0 0 #798184;
  border-radius: 100px;
  border-style: solid;
  border-width: 1px;
  display: block;
  height: 18px;
  margin: 10px;
  padding-left: 0 !important;
  text-indent: -9999px;
  width: 18px;
}