.big_title_onepage {
  border: 6px solid #FFFFFF;
  font-size: 250%;
  font-weight: 600;
  padding: 40px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(51, 51, 51, 1);
}
.small_thin_grey1 {
  font-size: 16px;
}
.slide-wrapper {
  background-color: rgba(0, 0, 0, 0.4);
}
.small_thin_grey1 i {
  padding: 0 15px;
}
.tp-hide-revslider, .tp-caption.tp-hidden-caption {
  display: none !important;
  visibility: hidden !important;
}
.tp-caption {
  white-space: nowrap;
  z-index: 1;
}
.tp-caption-demo .tp-caption {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px !important;
  position: relative !important;
}
.tp-caption.whitedivider3px {
  background-color: #FFFFFF;
  border-color: #000000;
  border-style: none;
  border-width: 0;
  color: #000000;
  min-height: 3px;
  min-width: 408px;
  text-decoration: none;
  text-shadow: none;
}
.tp-caption.finewide_large_white {
  background-color: transparent;
  border-color: #000000;
  border-style: none;
  border-width: 0;
  color: #222222;
  font-family: "Open Sans",sans-serif;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 8px;
  line-height: 60px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
}
.tp-caption.whitedivider3px {
  background-color: #FFFFFF;
  border-color: #000000;
  border-style: none;
  border-width: 0;
  color: #000000;
  font-size: 0;
  line-height: 0;
  min-height: 3px;
  min-width: 468px;
  text-decoration: none;
  text-shadow: none;
}
.tp-caption.finewide_medium_white {
  background-color: transparent;
  border-color: #000000;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans",sans-serif;
  font-size: 37px;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 37px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
}
.tp-caption.boldwide_small_white {
  background-color: transparent;
  border-color: #000000;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans",sans-serif;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 5px;
  line-height: 25px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
}
.tp-caption.whitedivider3px_vertical {
  background-color: #FFFFFF;
  border-color: #000000;
  border-style: none;
  border-width: 0;
  color: #000000;
  font-size: 0;
  line-height: 0;
  min-height: 130px;
  min-width: 3px;
  text-decoration: none;
  text-shadow: none;
}
.tp-caption.finewide_small_white {
  background-color: transparent;
  border-color: #000000;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans",sans-serif;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 25px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
}
.tp-caption.finewide_verysmall_white_mw {
  background-color: transparent;
  border-color: #000000;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 25px;
  max-width: 470px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  white-space: normal !important;
}
.tp-caption.lightgrey_divider {
  background-color: #EBEBEB;
  border-color: #222222;
  border-style: none;
  border-width: 0;
  height: 3px;
  text-decoration: none;
  width: 370px;
}
.tp-caption.finewide_large_white {
  background-color: transparent;
  border-color: #000000;
  border-style: none;
  border-width: 0;
  color: #222222;
  font-family: "PT Sans",sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 30px;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
}
.tp-caption.finewide_medium_white {
  background-color: transparent;
  border-color: #000000;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans",sans-serif;
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 34px;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
}
.tp-caption.huge_red {
  background-color: #2D3136;
  border-style: none;
  border-width: 0;
  color: #DF4B6B;
  font-family: 'Oswald',sans-serif;
  font-size: 150px;
  font-weight: 400;
  line-height: 130px;
  margin: 0;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
.tp-caption.middle_yellow {
  border-style: none;
  border-width: 0;
  color: #FBD572;
  font-family: 'Open Sans',sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  margin: 0;
  position: absolute;
  white-space: nowrap;
}
.tp-caption.huge_thin_yellow {
  border-style: none;
  border-width: 0;
  color: #FBD572;
  font-family: 'Open Sans',sans-serif;
  font-size: 90px;
  font-weight: 300;
  letter-spacing: 20px;
  line-height: 90px;
  margin: 0;
  position: absolute;
  white-space: nowrap;
}
.tp-caption.big_dark {
  border-style: none;
  border-width: 0;
  color: #333333;
  font-family: "Open Sans";
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  margin: 0;
  position: absolute;
  white-space: nowrap;
}
.tp-caption.medium_dark {
  border-style: none;
  border-width: 0;
  color: #333333;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  white-space: nowrap;
}
.tp-caption.medium_grey {
  background-color: #888888;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding: 2px 4px;
  position: absolute;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}
.tp-caption.small_text {
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  position: absolute;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}
.tp-caption.medium_text {
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  position: absolute;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}
.tp-caption.large_bold_white_25 {
  background-color: transparent;
  border-color: #FFFFFF;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 55px;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 5px 10px #000000;
}
.tp-caption.medium_text_shadow {
  background-color: transparent;
  border-color: #FFFFFF;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 5px 10px #000000;
}
.tp-caption.large_text {
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  position: absolute;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}
.tp-caption.medium_bold_grey {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #666666;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
  margin: 0;
  padding: 1px 4px 0;
  text-decoration: none;
  text-shadow: none;
}
.tp-caption.very_large_text {
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 60px;
  margin: 0;
  position: absolute;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}
.tp-caption.very_big_white {
  background-color: #000000;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  margin: 0;
  padding: 1px 4px 0;
  position: absolute;
  text-shadow: none;
  white-space: nowrap;
}
.tp-caption.very_big_black {
  background-color: #FFFFFF;
  border-style: none;
  border-width: 0;
  color: #000000;
  font-family: Arial;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
  padding: 1px 4px 0;
  position: absolute;
  text-shadow: none;
  white-space: nowrap;
}
.tp-caption.modern_medium_fat {
  border-style: none;
  border-width: 0;
  color: #000000;
  font-family: "Open Sans",sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 20px;
  margin: 0;
  position: absolute;
  text-shadow: none;
  white-space: nowrap;
}
.tp-caption.modern_medium_fat_white {
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans",sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 20px;
  margin: 0;
  position: absolute;
  text-shadow: none;
  white-space: nowrap;
}
.tp-caption.modern_medium_light {
  border-style: none;
  border-width: 0;
  color: #000000;
  font-family: "Open Sans",sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  margin: 0;
  position: absolute;
  text-shadow: none;
  white-space: nowrap;
}
.tp-caption.modern_big_bluebg {
  background-color: #4E5B6C;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans",sans-serif;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 36px;
  margin: 0;
  padding: 3px 10px;
  position: absolute;
  text-shadow: none;
}
.tp-caption.modern_big_redbg {
  background-color: #DE543E;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans",sans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 36px;
  margin: 0;
  padding: 1px 10px 3px;
  position: absolute;
  text-shadow: none;
}
.tp-caption.modern_small_text_dark {
  border-style: none;
  border-width: 0;
  color: #555555;
  font-family: Arial;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  position: absolute;
  text-shadow: none;
  white-space: nowrap;
}
.tp-caption.boxshadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.tp-caption.black {
  color: #000000;
  text-shadow: none;
}
.tp-caption.noshadow {
  text-shadow: none;
}
.tp-caption a {
  color: inherit;
  text-shadow: none;
  transition: all 0.2s ease-out 0s;
}
.tp-caption a:hover {
  color: inherit;
}
.tp-caption.thinheadline_dark {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.85);
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  position: absolute;
  text-shadow: none;
}
.tp-caption.thintext_dark {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.85);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  position: absolute;
  text-shadow: none;
}
.tp-caption.medium_bg_red a {
  color: #FFFFFF;
  text-decoration: none;
}
.tp-caption.medium_bg_red a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.tp-caption.smoothcircle {
  background-color: rgba(0, 0, 0, 0.498);
  border-color: #000000;
  border-radius: 500px 500px 500px 500px;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 800;
  line-height: 75px;
  padding: 50px 25px;
  text-align: center;
  text-decoration: none;
}
.tp-caption.largeblackbg {
  background-color: #000000;
  border-color: #FFFFFF;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 300;
  line-height: 70px;
  padding: 0 20px 5px;
  text-decoration: none;
  text-shadow: none;
}
.tp-caption.largepinkbg {
  background-color: #DB4360;
  border-radius: 0 0 0 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 300;
  line-height: 70px;
  padding: 0 20px;
  position: absolute;
  text-shadow: none;
}
.tp-caption.largewhitebg {
  background-color: #FFFFFF;
  border-radius: 0 0 0 0;
  color: #000000;
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 300;
  line-height: 70px;
  padding: 0 20px;
  position: absolute;
  text-shadow: none;
}
.tp-caption.largegreenbg {
  background-color: #67AE73;
  border-radius: 0 0 0 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 300;
  line-height: 70px;
  padding: 0 20px;
  position: absolute;
  text-shadow: none;
}
.tp-caption.excerpt {
  background-color: #000000;
  border-color: #FFFFFF;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 36px;
  font-weight: 700;
  height: auto;
  letter-spacing: -1.5px;
  line-height: 36px;
  margin: 0;
  padding: 1px 4px 0;
  text-decoration: none;
  text-shadow: none;
  white-space: normal !important;
  width: 150px;
}
.tp-caption.large_bold_grey {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #666666;
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  margin: 0;
  padding: 1px 4px 0;
  text-decoration: none;
  text-shadow: none;
}
.tp-caption.medium_thin_grey {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #666666;
  font-family: "Open Sans";
  font-size: 34px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  padding: 1px 4px 0;
  text-decoration: none;
  text-shadow: none;
}
.tp-caption.small_thin_grey {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #757575;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
  padding: 1px 4px 0;
  text-decoration: none;
  text-shadow: none;
}
.tp-caption.lightgrey_divider {
  background-color: #EBEBEB;
  border-color: #222222;
  border-style: none;
  border-width: 0;
  height: 3px;
  text-decoration: none;
  width: 370px;
}
.tp-caption.large_bold_darkblue {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #34495E;
  font-family: "Open Sans";
  font-size: 58px;
  font-weight: 800;
  line-height: 60px;
  text-decoration: none;
}
.tp-caption.medium_bg_darkblue {
  background-color: #34495E;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  padding: 10px;
  text-decoration: none;
}
.tp-caption.medium_bold_red {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #E33A0C;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  padding: 0;
  text-decoration: none;
}
.tp-caption.medium_light_red {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #E33A0C;
  font-family: "Open Sans";
  font-size: 21px;
  font-weight: 300;
  line-height: 26px;
  padding: 0;
  text-decoration: none;
}
.tp-caption.medium_bg_red {
  background-color: #E33A0C;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  padding: 10px;
  text-decoration: none;
}
.tp-caption.medium_bold_orange {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #F39C12;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  text-decoration: none;
}
.tp-caption.medium_bg_orange {
  background-color: #F39C12;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  padding: 10px;
  text-decoration: none;
}
.tp-caption.grassfloor {
  background-color: #A0B397;
  border-color: #222222;
  border-style: none;
  border-width: 0;
  height: 150px;
  text-decoration: none;
  width: 4000px;
}
.tp-caption.large_bold_white {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 58px;
  font-weight: 800;
  line-height: 60px;
  text-decoration: none;
}
.tp-caption.medium_light_white {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  padding: 0;
  text-decoration: none;
}
.tp-caption.mediumlarge_light_white {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  padding: 0;
  text-decoration: none;
}
.tp-caption.mediumlarge_light_white_center {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
.tp-caption.medium_bg_asbestos {
  background-color: #7F8C8D;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  padding: 10px;
  text-decoration: none;
}
.tp-caption.medium_light_black {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #000000;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  padding: 0;
  text-decoration: none;
}
.tp-caption.large_bold_black {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #000000;
  font-family: "Open Sans";
  font-size: 58px;
  font-weight: 800;
  line-height: 60px;
  text-decoration: none;
}
.tp-caption.mediumlarge_light_darkblue {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #34495E;
  font-family: "Open Sans";
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  padding: 0;
  text-decoration: none;
}
.tp-caption.small_light_white {
  background-color: transparent;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  padding: 0;
  text-decoration: none;
}
.tp-caption.roundedimage {
  border-color: #222222;
  border-style: none;
  border-width: 0;
}
.tp-caption.large_bg_black {
  background-color: #000000;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  padding: 10px 20px 15px;
  text-decoration: none;
}
.tp-caption.mediumwhitebg {
  background-color: #FFFFFF;
  border-color: #000000;
  border-style: none;
  border-width: 0;
  color: #000000;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  padding: 5px 15px 10px;
  text-decoration: none;
  text-shadow: none;
}
.tp-caption.medium_bg_orange_new1 {
  background-color: #F39C12;
  border-color: #FFD658;
  border-style: none;
  border-width: 0;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  padding: 10px;
  text-decoration: none;
}
.tp-caption.boxshadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.tp-caption.black {
  color: #000000;
  font-family: 'Open Sans',sans;
  font-size: 19px;
  font-weight: 300;
  line-height: 19px;
  text-shadow: none;
}
.tp-caption.noshadow {
  text-shadow: none;
}
.tp_inner_padding {
  -moz-box-sizing: border-box;
  max-height: none !important;
}
.tp-caption .frontcorner {
  border-left: 40px solid transparent;
  border-right: 0 solid transparent;
  border-top: 40px solid #00A8FF;
  height: 0;
  left: -40px;
  position: absolute;
  top: 0;
  width: 0;
}
.tp-caption .backcorner {
  border-bottom: 40px solid #00A8FF;
  border-left: 0 solid transparent;
  border-right: 40px solid transparent;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}
.tp-caption .frontcornertop {
  border-bottom: 40px solid #00A8FF;
  border-left: 40px solid transparent;
  border-right: 0 solid transparent;
  height: 0;
  left: -40px;
  position: absolute;
  top: 0;
  width: 0;
}
.tp-caption .backcornertop {
  border-left: 0 solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #00A8FF;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
}
.tp-simpleresponsive .button {
  background: url("../assets/gradient/g30.png") repeat-x scroll center top transparent;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF !important;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  letter-spacing: -1px;
  line-height: 45px !important;
  padding: 6px 13px 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6) !important;
}
.tp-simpleresponsive .button.big {
  background: url("../assets/gradient/g40.png") repeat-x scroll center top transparent;
  color: #FFFFFF;
  font-size: 19px;
  font-weight: bold;
  line-height: 57px !important;
  padding: 9px 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}
.tp-simpleresponsive .purchase:hover, .tp-simpleresponsive .button:hover, .tp-simpleresponsive .button.big:hover {
  background-position: center bottom, 15px 11px;
}
.tp-simpleresponsive .button {
  font-size: 11px !important;
  font-weight: normal;
  line-height: 25px !important;
  padding: 4px 8px 3px;
}
.tp-simpleresponsive a.button {
  transition: none 0s ease 0s;
}
.tp-simpleresponsive .button {
  font-size: 10px !important;
  line-height: 20px !important;
  padding: 2px 5px;
}
.tp-simpleresponsive a.button {
  transition: none 0s ease 0s;
}
.tp-simpleresponsive .button.green, .tp-simpleresponsive .button.green:hover, .tp-simpleresponsive .purchase.green, .tp-simpleresponsive .purchase.green:hover {
  background-color: #21A117;
  box-shadow: 0 3px 0 0 #104D0B;
}
.tp-simpleresponsive .button.blue, .tp-simpleresponsive .button.blue:hover, .tp-simpleresponsive .purchase.blue, .tp-simpleresponsive .purchase.blue:hover {
  background-color: #1D78CB;
  box-shadow: 0 3px 0 0 #0F3E68;
}
.tp-simpleresponsive .button.red, .tp-simpleresponsive .button.red:hover, .tp-simpleresponsive .purchase.red, .tp-simpleresponsive .purchase.red:hover {
  background-color: #CB1D1D;
  box-shadow: 0 3px 0 0 #7C1212;
}
.tp-simpleresponsive .button.orange, .tp-simpleresponsive .button.orange:hover, .tp-simpleresponsive .purchase.orange, .tp-simpleresponsive .purchase.orange:hover {
  background-color: #FF7700;
  box-shadow: 0 3px 0 0 #A34C00;
}
.tp-simpleresponsive .button.darkgrey, .tp-simpleresponsive .button.grey, .tp-simpleresponsive .button.darkgrey:hover, .tp-simpleresponsive .button.grey:hover, .tp-simpleresponsive .purchase.darkgrey, .tp-simpleresponsive .purchase.darkgrey:hover {
  background-color: #555555;
  box-shadow: 0 3px 0 0 #222222;
}
.tp-simpleresponsive .button.lightgrey, .tp-simpleresponsive .button.lightgrey:hover, .tp-simpleresponsive .purchase.lightgrey, .tp-simpleresponsive .purchase.lightgrey:hover {
  background-color: #888888;
  box-shadow: 0 3px 0 0 #555555;
}
.fullscreen-container {
  padding: 0;
  position: relative;
  width: 100%;
}
.fullwidthbanner-container {
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
.fullwidthbanner-container .fullwidthbanner {
  position: relative;
  width: 100%;
}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
  position: absolute;
  visibility: hidden;
}
.tp-simpleresponsive img {
  max-width: none;
}
.noFilterClass {
  filter: none !important;
}
.tp-bannershadow {
  -moz-user-select: none;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
.tp-bannershadow.tp-shadow1 {
  background: url("../assets/shadow1.png") no-repeat scroll 0 0 / 100% 100% transparent;
  bottom: -60px;
  height: 60px;
  width: 890px;
}
.tp-bannershadow.tp-shadow2 {
  background: url("../assets/shadow2.png") no-repeat scroll 0 0 / 100% 100% transparent;
  bottom: -60px;
  height: 60px;
  width: 890px;
}
.tp-bannershadow.tp-shadow3 {
  background: url("../assets/shadow3.png") no-repeat scroll 0 0 / 100% 100% transparent;
  bottom: -60px;
  height: 60px;
  width: 890px;
}
.caption.fullscreenvideo {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.caption.fullscreenvideo iframe, .caption.fullscreenvideo video {
  display: none;
  height: 100% !important;
  width: 100% !important;
}
.tp-caption.fullscreenvideo {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.tp-caption.fullscreenvideo iframe, .tp-caption.fullscreenvideo iframe video {
  display: none;
  height: 100% !important;
  width: 100% !important;
}
.fullcoveredvideo video, .fullscreenvideo video {
  background: none repeat scroll 0 0 #000000;
}
.fullcoveredvideo .tp-poster {
  background-position: center center;
  background-size: cover;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.html5vid.videoisplaying .tp-poster {
  display: none;
}
.tp-video-play-button {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 40px;
  left: 50%;
  margin-left: -28px;
  margin-top: -27px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 3;
}
.html5vid .tp-revstop {
  border-left: 5px solid #FFFFFF;
  border-right: 5px solid #FFFFFF;
  height: 20px;
  margin: 10px 20px;
  position: relative;
  width: 6px;
}
.html5vid .tp-revstop {
  display: none;
}
.html5vid.videoisplaying .revicon-right-dir {
  display: none;
}
.html5vid.videoisplaying .tp-revstop {
  display: block;
}
.html5vid.videoisplaying .tp-video-play-button {
  display: none;
}
.html5vid:hover .tp-video-play-button {
  display: block;
}
.fullcoveredvideo .tp-video-play-button {
  display: none !important;
}
.tp-dottedoverlay {
  background-repeat: repeat;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.tp-dottedoverlay.twoxtwo {
  background: url("../assets/gridtile.png") repeat scroll 0 0 transparent;
}
.tp-dottedoverlay.twoxtwowhite {
  background: url("../assets/gridtile_white.png") repeat scroll 0 0 transparent;
}
.tp-dottedoverlay.threexthree {
  background: url("../assets/gridtile_3x3.png") repeat scroll 0 0 transparent;
}
.tp-dottedoverlay.threexthreewhite {
  background: url("../assets/gridtile_3x3_white.png") repeat scroll 0 0 transparent;
}
.tpclear {
  clear: both;
}
.tp-bullets {
  opacity: 1;
  position: absolute;
  transition: opacity 0.2s ease-out 0s;
  z-index: 1000;
}
.tp-bullets.hidebullets {
  opacity: 0;
}
.tp-bullets.simplebullets.navbar {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: url("../assets/boxed_bgtile.png") repeat scroll 0 0 transparent;
  border-color: #666666 #666666 #444444;
  border-image: none;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  padding: 0 10px;
}
.tp-bullets.simplebullets.navbar-old {
  background: url("../assets/navigdots_bgtile.png") repeat scroll 0 0 transparent;
  border-radius: 5px 5px 5px 5px;
  height: 35px;
  padding: 0 10px;
}
.tp-bullets.simplebullets.round .bullet {
  background: url("../assets/bullet.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 20px;
  margin-left: 3px;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  width: 20px;
}
.tp-bullets.simplebullets.round .bullet.last {
  margin-right: 3px;
}
.tp-bullets.simplebullets.round-old .bullet {
  background: url("../assets/bullets.png") no-repeat scroll left bottom transparent;
  cursor: pointer;
  float: left;
  height: 23px;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  width: 23px;
}
.tp-bullets.simplebullets.round-old .bullet.last {
  margin-right: 0;
}
.tp-bullets.simplebullets.square .bullet {
  background: url("../assets/bullets2.png") no-repeat scroll left bottom transparent;
  cursor: pointer;
  float: left;
  height: 19px;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  width: 19px;
}
.tp-bullets.simplebullets.square .bullet.last {
  margin-right: 0;
}
.tp-bullets.simplebullets.square-old .bullet {
  background: url("../assets/bullets2.png") no-repeat scroll left bottom transparent;
  cursor: pointer;
  float: left;
  height: 19px;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  width: 19px;
}
.tp-bullets.simplebullets.square-old .bullet.last {
  margin-right: 0;
}
.tp-bullets.simplebullets.navbar .bullet {
  background: url("../assets/bullet_boxed.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 19px;
  margin-right: 5px;
  margin-top: 0;
  position: relative;
  width: 18px;
}
.tp-bullets.simplebullets.navbar .bullet.first {
  margin-left: 0 !important;
}
.tp-bullets.simplebullets.navbar .bullet.last {
  margin-right: 0 !important;
}
.tp-bullets.simplebullets.navbar-old .bullet {
  background: url("../assets/navigdots.png") no-repeat scroll left bottom transparent;
  cursor: pointer;
  float: left;
  height: 15px;
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-top: 10px;
  position: relative;
  width: 15px;
}
.tp-bullets.simplebullets.navbar-old .bullet.first {
  margin-left: 0 !important;
}
.tp-bullets.simplebullets.navbar-old .bullet.last {
  margin-right: 0 !important;
}
.tp-bullets.simplebullets .bullet:hover, .tp-bullets.simplebullets .bullet.selected {
  background-position: left top;
}
.tp-bullets.simplebullets.round .bullet:hover, .tp-bullets.simplebullets.round .bullet.selected, .tp-bullets.simplebullets.navbar .bullet:hover, .tp-bullets.simplebullets.navbar .bullet.selected {
  background-position: left bottom;
}
.tparrows {
  opacity: 1;
  position: relative;
  transition: opacity 0.2s ease-out 0s;
  z-index: 600;
}
.tparrows.hidearrows {
  opacity: 0;
}
.tp-leftarrow {
  background: url("../assets/large_left.png") no-repeat scroll left top transparent;
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 40px;
  z-index: 100;
}
.tp-rightarrow {
  background: url("../assets/large_right.png") no-repeat scroll left top transparent;
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 40px;
  z-index: 100;
}
.tp-leftarrow.round {
  background: url("../assets/small_left.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 14px;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  width: 19px;
  z-index: 100;
}
.tp-rightarrow.round {
  background: url("../assets/small_right.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 14px;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  width: 19px;
  z-index: 100;
}
.tp-leftarrow.round-old {
  background: url("../assets/arrow_left.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 26px;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  width: 26px;
  z-index: 100;
}
.tp-rightarrow.round-old {
  background: url("../assets/arrow_right.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 26px;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  width: 26px;
  z-index: 100;
}
.tp-leftarrow.navbar {
  background: url("../assets/small_left_boxed.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 15px;
  margin-right: 6px;
  margin-top: 12px;
  position: relative;
  width: 20px;
  z-index: 100;
}
.tp-rightarrow.navbar {
  background: url("../assets/small_right_boxed.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 15px;
  margin-left: 6px;
  margin-top: 12px;
  position: relative;
  width: 20px;
  z-index: 100;
}
.tp-leftarrow.navbar-old {
  background: url("../assets/arrowleft.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 16px;
  margin-right: 6px;
  margin-top: 10px;
  position: relative;
  width: 9px;
  z-index: 100;
}
.tp-rightarrow.navbar-old {
  background: url("../assets/arrowright.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 16px;
  margin-left: 6px;
  margin-top: 10px;
  position: relative;
  width: 9px;
  z-index: 100;
}
.tp-leftarrow.navbar-old.thumbswitharrow {
  margin-right: 10px;
}
.tp-rightarrow.navbar-old.thumbswitharrow {
  margin-left: 0;
}
.tp-leftarrow.square {
  background: url("../assets/arrow_left2.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 17px;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  width: 12px;
  z-index: 100;
}
.tp-rightarrow.square {
  background: url("../assets/arrow_right2.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 17px;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  width: 12px;
  z-index: 100;
}
.tp-leftarrow.square-old {
  background: url("../assets/arrow_left2.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 17px;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  width: 12px;
  z-index: 100;
}
.tp-rightarrow.square-old {
  background: url("../assets/arrow_right2.png") no-repeat scroll left top transparent;
  cursor: pointer;
  float: left;
  height: 17px;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  width: 12px;
  z-index: 100;
}
.tp-leftarrow.default {
  background: url("../assets/large_left.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 40px;
  z-index: 100;
}
.tp-rightarrow.default {
  background: url("../assets/large_right.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 40px;
  position: relative;
  width: 40px;
  z-index: 100;
}
.tp-leftarrow:hover, .tp-rightarrow:hover {
  background-position: left bottom;
}
.tp-bullets.tp-thumbs {
  background-color: #FFFFFF;
  height: 50px;
  margin-top: -50px;
  padding: 3px;
  position: absolute;
  width: 500px;
  z-index: 1000;
}
.fullwidthbanner-container .tp-thumbs {
  padding: 3px;
}
.tp-bullets.tp-thumbs .tp-mask {
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 500px;
}
.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
  position: absolute;
  width: 5000px;
}
.tp-bullets.tp-thumbs .bullet {
  background: none repeat scroll 0 0 transparent;
  cursor: pointer;
  float: left;
  height: 50px;
  margin: 0;
  opacity: 0.5;
  overflow: hidden;
  transition: all 0.2s ease-out 0s;
  width: 100px;
}
.tp-bullets.tp-thumbs .bullet:hover, .tp-bullets.tp-thumbs .bullet.selected {
  opacity: 1;
}
.tp-thumbs img {
  width: 100%;
}
.tp-bannertimer {
  background: url("../assets/timer.png") repeat scroll 0 0 transparent;
  height: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}
.tp-bannertimer.tp-bottom {
  bottom: 0;
  height: 5px;
  top: auto;
}
.responsive .tp-bullets {
  display: none;
}
.responsive .tparrows {
  display: none;
}
.tp-simpleresponsive img {
  -moz-user-select: none;
}
.tp-simpleresponsive a {
  text-decoration: none;
}
.tp-simpleresponsive ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.tp-simpleresponsive > ul > li {
  position: absolute;
  visibility: hidden;
}
.caption.slidelink a div, .tp-caption.slidelink a div {
  background: url("../assets/coloredbg.png") repeat scroll 0 0 transparent;
  height: 1500px;
  width: 3000px;
}
.tp-loader {
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 10000;
}
.tp-loader.spinner0 {
  animation: 1.2s ease-in-out 0s normal none infinite tp-rotateplane;
  background: url("../assets/loader.gif") no-repeat scroll center center #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  width: 40px;
}
.tp-loader.spinner1 {
  animation: 1.2s ease-in-out 0s normal none infinite tp-rotateplane;
  background-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  width: 40px;
}
.tp-loader.spinner5 {
  background: url("../assets/loader.gif") no-repeat scroll 10px 10px #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  height: 44px;
  margin: -22px;
  width: 44px;
}
.tp-loader.spinner2 {
  animation: 1s ease-in-out 0s normal none infinite tp-scaleout;
  background-color: #FF0000;
  border-radius: 100% 100% 100% 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  width: 40px;
}
.tp-loader.spinner3 {
  margin: -9px 0 0 -35px;
  text-align: center;
  width: 70px;
}
.tp-loader.spinner3 .bounce1, .tp-loader.spinner3 .bounce2, .tp-loader.spinner3 .bounce3 {
  animation: 1.4s ease-in-out 0s normal both infinite tp-bouncedelay;
  background-color: #FFFFFF;
  border-radius: 100% 100% 100% 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  display: inline-block;
  height: 18px;
  width: 18px;
}
.tp-loader.spinner3 .bounce1 {
  animation-delay: -0.32s;
}
.tp-loader.spinner3 .bounce2 {
  animation-delay: -0.16s;
}
.tp-loader.spinner4 {
  animation: 2s linear 0s normal none infinite tp-rotate;
  height: 40px;
  margin: -20px 0 0 -20px;
  text-align: center;
  width: 40px;
}
.tp-loader.spinner4 .dot1, .tp-loader.spinner4 .dot2 {
  animation: 2s ease-in-out 0s normal none infinite tp-bounce;
  background-color: #FFFFFF;
  border-radius: 100% 100% 100% 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  display: inline-block;
  height: 60%;
  position: absolute;
  top: 0;
  width: 60%;
}
.tp-loader.spinner4 .dot2 {
  animation-delay: -1s;
  bottom: 0;
  top: auto;
}
.tp-transparentimg {
  content: "url(../assets/transparent.png)";
}
.tp-3d {
}
.tp-caption img {
  background: none repeat scroll 0 0 transparent;
}
#revvideo {
  height: 100%;
}
@font-face {
  font-family: "revicons";
  font-style: normal;
  font-weight: normal;
  src: url("../css/font/revicons/revicons.eot?5510888#iefix") format("embedded-opentype"), url("../css/font/revicons/revicons.woff?5510888") format("woff"), url("../css/font/revicons/revicons.ttf?5510888") format("truetype"), url("../css/font/revicons/revicons.svg?5510888#revicons") format("svg");
}
[class^="revicon-"]:before, [class*=" revicon-"]:before {
  display: inline-block;
  font-family: "revicons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
}
.revicon-search-1:before {
  content: "";
}
.revicon-pencil-1:before {
  content: "";
}
.revicon-picture-1:before {
  content: "";
}
.revicon-cancel:before {
  content: "";
}
.revicon-info-circled:before {
  content: "";
}
.revicon-trash:before {
  content: "";
}
.revicon-left-dir:before {
  content: "";
}
.revicon-right-dir:before {
  content: "";
}
.revicon-down-open:before {
  content: "";
}
.revicon-left-open:before {
  content: "";
}
.revicon-right-open:before {
  content: "";
}
.revicon-angle-left:before {
  content: "";
}
.revicon-angle-right:before {
  content: "";
}
.revicon-left-big:before {
  content: "";
}
.revicon-right-big:before {
  content: "";
}
.revicon-magic:before {
  content: "";
}
.revicon-picture:before {
  content: "";
}
.revicon-export:before {
  content: "";
}
.revicon-cog:before {
  content: "";
}
.revicon-login:before {
  content: "";
}
.revicon-logout:before {
  content: "";
}
.revicon-video:before {
  content: "";
}
.revicon-arrow-combo:before {
  content: "";
}
.revicon-left-open-1:before {
  content: "";
}
.revicon-right-open-1:before {
  content: "";
}
.revicon-left-open-mini:before {
  content: "";
}
.revicon-right-open-mini:before {
  content: "";
}
.revicon-left-open-big:before {
  content: "";
}
.revicon-right-open-big:before {
  content: "";
}
.revicon-left:before {
  content: "";
}
.revicon-right:before {
  content: "";
}
.revicon-ccw:before {
  content: "";
}
.revicon-arrows-ccw:before {
  content: "";
}
.revicon-palette:before {
  content: "";
}
.revicon-list-add:before {
  content: "";
}
.revicon-doc:before {
  content: "";
}
.revicon-left-open-outline:before {
  content: "";
}
.revicon-left-open-2:before {
  content: "";
}
.revicon-right-open-outline:before {
  content: "";
}
.revicon-right-open-2:before {
  content: "";
}
.revicon-equalizer:before {
  content: "";
}
.revicon-layers-alt:before {
  content: "";
}
.revicon-popup:before {
  content: "";
}
.nav-tabs-foot > li {
  border-bottom: 1px solid #4F4F4F;
}
