.buddypress_tabber_widget_member li a,
.buddypress_tabber_widget li a,
#two-sidebar .recent_posts_widget li,
#two-sidebar .recent_posts_widget li a,
#sidebar .recent_posts_widget li,
#sidebar .recent_posts_widget li a {
  color:#222 !important;
  font-weight:normal;
}
#two-sidebar .readmore,
#sidebar .readmore {
  font-weight:300 !important;
}
.recent_posts_widget > li {
  display: table;
  height: 60px;
  margin-bottom:20px;
  width: 100%;
}
.recent_posts_widget > li:last-child {
  border-bottom:0 solid #fff;
}
.recent_posts li {
  list-style:none
}
.buddypress_tabber_widget_member li img,
.recent_posts_widget > li img {
  max-width: 75px !important;
  padding:4px;
}
.recent_posts_widget img {
  float: left;
  margin: 5px 15px 0 0;
}