.newsletter_form .form-control {
  background-color: #121214;
  border: 1px solid #343436;
}
#two-sidebar .newsletter_form .form-control,
#sidebar .newsletter_form .form-control {
  background-color: #f5f5f5;
  border: 1px solid #efefef;
}
.newsletter_form .btn {
  margin-top:10px;
}