/* ----------------------------------------------------
	SIDEBAR & WIDGETS
------------------------------------------------------- */

.text-widget p {
  margin-bottom:15px;
}
.text-widget h1 {
  // font-family: 'Lato',sans-serif;
  font-size:36px;
  font-weight:bold;
  letter-spacing:1px;
  text-transform:uppercase;
}
.custom-widget h2 {
  font-size:24px;
  text-transform:uppercase;
}
.custom-widget p {
  font-size:18px;
  font-weight:300;
}


.reviews_widget .recent_posts_widget a {
  color:#222 !important;
  font-weight:normal;
}
.meta_widget a {
  font-weight:300 !important;
}
.title h2 {
  text-transform: capitalize;
  font-size:22px;
}
.widget h3 {
  font-size:22px;
}

.widget .title h3 {
  text-transform:uppercase;
}


