.servicesbox_content p {
  display:inline-block;
  margin-top:10px;
}
.servicesbox_content {
  display:block !important;
  width:100% !important;
  padding:2px
}
.services_lists_boxes .service-icon-circle {
  text-align:center;
}
.services_lists_boxes {
  margin: 20px 0 20px 0;
  display:block;
  color:#fff;
  position:relative;
  overflow:hidden;
}
.services_lists_boxes h4 {
  color:#fff;
  font-size: 21px;
  padding-bottom: 0;
  font-weight:500;
  text-transform:uppercase;
}
.custom-services {
  position:relative !important;
  padding:0;
  margin:20px 0;
  display:block;
  overflow:visible;
}
.ch-item {
  position:relative !important;
  padding:0;
  margin:20px 0;
  height:200px;
  display:block;
  overflow:visible;
}
.ch-info-wrap{
  position: absolute;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #ffffff;
  border: 1px solid #EDEDED;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
}
.ch-info-back  {
  padding:15px;
  text-align:center;
}
.ch-info-front {
  padding-top:40px;
  text-align:center;
}
.ch-info-back h3 {
  font-size:20px;
  margin-bottom:0;
  padding-bottom:0;
  color:#ffffff;
  font-weight:500;
}
.ch-info-back a {
  color: #333333;
  font-weight: 500;
}
.ch-info-back p {
  color: #333333;
  text-align: center !important;
  padding-top:10px !important;
  padding-bottom:10px !important;
}
.ch-info-back h3 {
  text-align: center !important;
}
.ch-info-back p {
  color:#ffffff;
}
.ch-info-front h3 {
  font-size:20px;
  color:#222222;
  font-weight:bold;
}
.ch-info{
  position: absolute;
  width: 100%;
  height: 200px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}
.ch-info .ch-info-back {
  -webkit-transform: rotate3d(0,1,0,180deg);
  -moz-transform: rotate3d(0,1,0,180deg);
  -o-transform: rotate3d(0,1,0,180deg);
  -ms-transform: rotate3d(0,1,0,180deg);
  transform: rotate3d(0,1,0,180deg);
}
.ch-item:hover .ch-info {
  -webkit-transform: rotate3d(0,1,0,-180deg);
  -moz-transform: rotate3d(0,1,0,-180deg);
  -o-transform: rotate3d(0,1,0,-180deg);
  -ms-transform: rotate3d(0,1,0,-180deg);
  transform: rotate3d(0,1,0,-180deg);
}
.service-with-image .entry {
  position:relative;
}
.service-with-image {
  border: 1px solid #EAEAEA;
  margin: 20px 0;
  overflow: hidden;
  padding: 10px;
}
.service-desc {
  padding:20px 0;
}
.service-title a i {
  padding-right:5px;
}
.service-title a {
  font-weight:bold;
  text-transform:uppercase;
}
.service-title {
  background:#FFFFFF;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  max-width: 120px;
  margin: auto;
  text-align: center;
  padding: 4px;
}
.service_vertical_box {
  overflow: hidden;
  display: block;
  margin-bottom: 20px;
}
.services_vertical .general-title h2 {
  padding:0 !important;
  color:#fff !important;
  text-align:left;
  font-size:30px !important;
}
.services_vertical p {
  padding:0 !important;
  text-align:left;
}
.services_vertical
{
  overflow:hidden;
  padding:30px 0;
}
.services_vertical h3 {
  padding: 0 !important;
  font-size:18px;
}
.service_vertical_box .service-icon {
  float:left;
  clear: both;
  display: block;
  height: 60px;
  line-height: 60px;
  margin: 35px 20px;
  width: 60px;
}
.service_vertical_box a.readmore {
  padding-left:98px;
}
.services_vertical .icon-container {
  float:left;
}
.icon-container {
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  -webkit-border-radius:100px;
  -moz-border-radius:100px;
  clear: both;
  color: #FFFFFF;
  display: block;
  font-size: 21px;
  height: 55px;
  line-height: 55px;
  margin: 38px 20px;
  text-align: center;
  width: 55px;
}
.servicebox {
  margin:20px 0;
}
.servicebox h3 {
  padding:0
}