.download {
  -moz-box-sizing: border-box;
  border: 1px solid #E5E5E5;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 30px;
  position: relative;
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #FFFFFF 0%, #F5F5F5 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #FFFFFF 0%, #F5F5F5 100%);
  /* Opera */
  background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #FFFFFF 0%, #F5F5F5 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 553, color-stop(0, #FFFFFF), color-stop(1, #F5F5F5));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #FFFFFF 0%, #F5F5F5 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(ellipse farthest-corner at center bottom, #FFFFFF 0%, #F5F5F5 100%);

}
.download span {
  border-radius: 100px 100px 100px 100px;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  top: -30px;
  width: 60px;
  background-color: #363B3F;
}
.download span .fa, .download span .glyphicon {
  border-radius: 100px 100px 100px 100px;
  color: #FFFFFF;
  float: left;
  font-size: 24px;
  height: 60px;
  line-height: 55px;
  width: 60px;
}
.download h3 {
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
}
.download p {
  margin-top: 15px;
}

.pdf {

  position: right bottom;
}