.twitter_feed {
  padding-left:0
}
.twitter_feed li {
  list-style:none;
  overflow:hidden;
  margin-bottom:30px;
}
.twitter_feed li p {
  margin-top: -30px;
  padding-left:30px;
}
.twitter_feed li span:before {
  color: #4f4f4f;
  padding-left:0 !important;
  font-family: 'FontAwesome';
  content: "\f099";
  padding:10px;
  vertical-align: text-top;
  font-size:21px;
}