.blog-masonry .blog-carousel {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EFEFEF;
  margin: 20px 0;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
}
.blog-carousel .entry {
  display: block;
  position: relative;
}
.blog-carousel {
  min-height: 380px;
}
.quote-post:after {
  color: #000000;
  content: "";
  font-family: 'FontAwesome';
  font-size: 600%;
  opacity: 0.1;
  padding-right: 20px;
  position: absolute;
  right: 0;
  top: 50px;
}
*:before, *:after {
  -moz-box-sizing: border-box;
}
.quote-post {
  background: none repeat scroll 0 0 #F5F5F5;
  padding: 20px 10px 10px;
  position: relative;
}
.quote-post blockquote {
  border-left: 0 solid #FFFFFF;
}
.post-type {
  background: none repeat scroll 0 0 #222222;
  bottom: 0;
  color: #FFFFFF;
  font-size: 18px;
  height: 42px;
  line-height: 42px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 52px;
  z-index: 10;
}
.blog-carousel-header {
  display: block;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
}
.blog-carousel-header h3 {
  font-size: 18px;
  margin-bottom: 5px;
  padding-bottom: 0;
}
.blog-carousel-meta span i, .blog-carousel-meta span {
  font-size: 12px;
  padding-right: 5px;
}

.magnifier {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1);
    transition: all 0.3s ease-in-out 0s;
 }
