.popular_items img{
  width:100px;
  padding-right:10px;
  float:left
}
.popular_items{
  margin:20px 0
}
.popular_items .popular_items_div{
  display:block;
  margin-bottom:25px;
  overflow:hidden;
  position:relative
}
.popular_items .popular_items_div h4{
  margin-bottom:5px !important;
  padding-bottom:0;
}
.popular_items .meta,
.popular_items .meta a {
  color:#222;
}
.popular_items .meta {
  font-size:12px;
}
.popular_items .meta span,
.popular_items .meta span i {
  padding-right:3px;
}