.tagcloud a {
  float: left;
  display: block;
  margin-bottom: 6px;
  margin-right: 6px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  padding: 3px 10px;
  color: #C3C3C3 !important;
  text-decoration: none;
  border:1px solid #242424;
  background:#323232;
  box-shadow:none !important;
}
.tagcloud a:hover {
  background: #222222;
  border:1px solid inherit;
  color: #fff !important;
  text-decoration: none;
}