.overlay .contact_details {
  color: #FFFFFF !important;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.hinge {
  animation-duration: 2s;
}
.bounce {
  animation-name: bounce;
}
.flash {
  animation-name: flash;
}
.pulse {
  animation-name: pulse;
}
.shake {
  animation-name: shake;
}
.swing {
  animation-name: swing;
  transform-origin: center top 0;
}
.tada {
  animation-name: tada;
}
.wobble {
  animation-name: wobble;
}
.bounceIn {
  animation-name: bounceIn;
}
.bounceInDown {
  animation-name: bounceInDown;
}
.bounceInLeft {
  animation-name: bounceInLeft;
}
.bounceInRight {
  animation-name: bounceInRight;
}
.bounceInUp {
  animation-name: bounceInUp;
}
.bounceOut {
  animation-name: bounceOut;
}
.bounceOutDown {
  animation-name: bounceOutDown;
}
.bounceOutLeft {
  animation-name: bounceOutLeft;
}
.bounceOutRight {
  animation-name: bounceOutRight;
}
.bounceOutUp {
  animation-name: bounceOutUp;
}
.fadeIn {
  animation-name: fadeIn;
}
.fadeInDown {
  animation-name: fadeInDown;
}
.fadeInDownBig {
  animation-name: fadeInDownBig;
}
.fadeInLeft {
  animation-name: fadeInLeft;
}
.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}
.fadeInRight {
  animation-name: fadeInRight;
}
.fadeInRightBig {
  animation-name: fadeInRightBig;
}
.fadeInUp {
  animation-name: fadeInUp;
}
.fadeInUpBig {
  animation-name: fadeInUpBig;
}
.fadeOut {
  animation-name: fadeOut;
}
.fadeOutDown {
  animation-name: fadeOutDown;
}
.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}
.fadeOutLeft {
  animation-name: fadeOutLeft;
}
.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}
.fadeOutRight {
  animation-name: fadeOutRight;
}
.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}
.fadeOutUp {
  animation-name: fadeOutUp;
}
.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}
.animated.flip {
  animation-name: flip;
  backface-visibility: visible;
}
.flipInX {
  animation-name: flipInX;
  backface-visibility: visible !important;
}
.flipInY {
  animation-name: flipInY;
  backface-visibility: visible !important;
}
.flipOutX {
  animation-name: flipOutX;
  backface-visibility: visible !important;
}
.flipOutY {
  animation-name: flipOutY;
  backface-visibility: visible !important;
}
.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}
.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}
.rotateIn {
  animation-name: rotateIn;
}
.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}
.rotateInDownRight {
  animation-name: rotateInDownRight;
}
.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}
.rotateInUpRight {
  animation-name: rotateInUpRight;
}
.rotateOut {
  animation-name: rotateOut;
}
.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
}
.rotateOutDownRight {
  animation-name: rotateOutDownRight;
}
.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
}
.rotateOutUpRight {
  animation-name: rotateOutUpRight;
}
.slideInDown {
  animation-name: slideInDown;
}
.slideInLeft {
  animation-name: slideInLeft;
}
.slideInRight {
  animation-name: slideInRight;
}
.slideOutLeft {
  animation-name: slideOutLeft;
}
.slideOutRight {
  animation-name: slideOutRight;
}
.slideOutUp {
  animation-name: slideOutUp;
}
.hinge {
  animation-name: hinge;
}
.rollIn {
  animation-name: rollIn;
}
.rollOut {
  animation-name: rollOut;
}
