#tabbed_widget-1 .nav-tabs > li.active > a,
#tabbed_widget-1 .nav-tabs > li.active > a:hover,
#tabbed_widget-1 .nav-tabs > li.active > a:focus,
#tabbed_widget .nav-tabs > li.active > a,
#tabbed_widget .nav-tabs > li.active > a:hover,
#tabbed_widget .nav-tabs > li.active > a:focus,
#tabbed_widget-1 .nav > li > a:hover,
#tabbed_widget-1 .nav > li > a:focus,
#tabbed_widget .nav > li > a:hover,
#tabbed_widget .nav > li > a:focus {
  border-radius:0;
}

#tabbed_widget-1 .nav-tabs > li > a,
#tabbed_widget .nav-tabs > li > a {
  background:#e1e1e1;
  border:none;
  margin-right:1px;
  border-radius:0;
  color:#222;
}
#two-sidebar .widget,
#sidebar .widget {
  margin-bottom:30px;
  overflow:hidden;
}
.reviews_widget .recent_posts_widget > li img,
#tabbed_widget .recent_posts_widget img {
  max-width:120px !important;
  padding:4px;
}
#tabbed_widget .nav-tabs {
  border-bottom:none;
}
#tabbed_widget .tab-content {
  padding:20px 5px;
  border:none;
}