.blog-carousel img {
  width:100%;
}
.blog-masonry .blog-carousel {
  margin:20px 0;
  overflow:hidden;
  padding:20px;
  background:#fff;
  border:1px solid #efefef;
}
.blog-carousel-meta span a {
  color:#686868;
}
.blog-carousel-meta span i,
.blog-carousel-meta span {
  font-size:12px;
  padding-right:5px;
}
.blog-carousel-header h3 {
  padding-bottom:0;
  font-size:18px;
  margin-bottom:5px;
}
.blog-carousel-header h1 {
  padding-bottom:0;
  margin-bottom:5px;
  text-transform:uppercase;
}
.blog-carousel-header {
  position:relative;
  display:block;
  margin-bottom:0;
  padding-bottom:10px;
}
.post-type {
  color: #FFFFFF;
  font-size: 18px;
  height: 42px;
  line-height: 42px;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 0;
  z-index:10;
  width: 52px;
  background:#222;
}
.entry:hover .post-type {
  opacity:0
}