.social_like .icon-container {
  color:#222;
  margin:0 15px 0 0;
  background:#fff;
}
.social_like .btn {
  width:86px;
}
.social_like {
  position:relative;
  display:block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EDEDED;
}
.social_like h3 {
  font-size: 18px !important;
  margin-bottom: 0;
  padding-bottom: 0;
}
.social_button {
  position:absolute;
  right:0;
  bottom:10px;
}
.social_count h4 {
  margin-top:2px;
  margin-bottom:2px;
}