.widget_contact {
  border: 1px solid #EDEDED;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
  clear: both;
  //display: block;
  //float: none;
  margin: 0 0 20px;
  padding: 10px 20px 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.caption {
  // border-left: 1px solid #E9B51D;
}
.caption h3 {
  margin-top:0px;
  border-bottom: 1px solid #EDEDED;
  padding-bottom:8px;
  text-transform: capitalize;
  font-size:18px;
}
.address ul  {
  margin: 0;
  padding: 0;
}
.address li {
  list-style: none;
  border-bottom: 1px solid #EDEDED;
  padding:8px;
  margin-left:6px;
  color: #686868;
}
.addr {
  list-style: none;
  border-bottom: 1px solid #EDEDED;
  padding:8px;
  margin-left:6px;
  color: #686868;
}

