
.testimonial_widget {
  padding:20px;
  margin-bottom:20px;
  background:#f5f5f5;
  border:1px solid #ddd;
}
.testimonial-widget .lead {
  padding-top:30px;
}
.testimonial-wrap {
  background-color: #f5f5f5;
  padding:30px 20px;
  border-bottom: 3px solid #6F6D69;
}
#owl-testimonial-widget .img-circle {
  border:3px solid #fff;
  width:100px;
}
#owl-testimonial-widget h3 {
  font-size: 16px;
  font-weight:600;
  margin: 0;
  padding: 0;
}
.testimonial-wrap .lead {
  font-weight:300 !important;
  font-family:Lato;
  font-size:18px !important;
}
.testimonial-carousel a {
  color:#222222 !important;
}
.testimonial-carousel .media {
  margin:20px auto 10px !important;
  display:inline-block !important;
}
.overlay .testimonial-widget .img-thumbnail {
  background-color: #7e7c78;
  border: 1px solid #6F6D69;
}
.testimonial-widget {
  color:#222222;
  text-align:center;
}
.testimonial-widget .testimonial .lead:after {
  content: "\f10e" !important;
}
.testimonial-widget .testimonial .lead:after,
.testimonial-widget .testimonial .lead:before {
  color: #222222;
  font-family: 'FontAwesome';
  content: "\f10d";
  padding:10px;
  vertical-align: text-top;
  font-size:21px;
}