// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin about-event-year {
  position: absolute;
  top: calc(50% - 24.5px);
  right: calc(50% - 61px);
  width: 122px;
  height: 49px;
  border-radius: 4px;
  background-color: #DA2128;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 32px 9px 32px;
  z-index: 1;
}

@mixin bp( $p, $q: null, $orient: width, $orientation: null ) {
  @if ( $q != null ) {
    @if ( $orientation == null ) {
      @media (min-#{$orient}: $p * 1px) and (max-#{$orient}: $q * 1px) { @content; }
    } @else {
      @media (min-#{$orient}: $p * 1px) and (max-#{$orient}: $q * 1px) and (orientation: $orientation) { @content; }
    }
  } @else {
    @if ( $orientation == null ) {
      @media (min-#{$orient}: $p * 1px) { @content; }
    } @else {
      @media (min-#{$orient}: $p * 1px) and (orientation: $orientation) { @content; }
    }
  }
}


@function transit( $el, $time:250, $ease:ease-in-out, $delay:0 ) {
  @return #{$el} #{$time}ms $ease #{$delay}s;
}
