// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    font-family: 'Roboto', sans-serif;

    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;

            a {
                display: block;
                text-decoration: none;
                padding: 8px 0;
                color: #fff;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 18px;
            }

            a:hover,
            a:focus {
                color: #fff;
                border-bottom: 1px solid #fff;
                display: inline-block;
                padding-bottom: 7px;
                text-decoration: none;
            }

            li.current-menu-item a {
                color: #fff;
                border-bottom: 1px solid #fff;
                display: inline-block;
                padding-bottom: 7px;
                text-decoration: none;
                font-weight: 400;
            }
        }
    }
}

.footer-newsletter {
    position: relative;
    
    .footer-newsletter-header {
        display: flex;
        align-items: center;
        padding: 51px 15px 33px 15px;
        
        .col-4-m:first-child,
        .col-4-m:last-child {
            height: 1px;
            background-color: #2B303A;
        }
        
        h3 {
            color: #2B303A;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 400;
            text-align: center;
            margin-bottom: 0;
            line-height: 24px;
        }
    }

    p {
        text-align: center;
        font-size: 20px;
        margin-bottom: 32px;
        color: #2B303A;
        line-height: 24px;
    }

    .footer-newsletter-subscribe {
        padding-bottom: 39px;
        
        input {
            /*important on all to avoid plugin overwrite.*/
            border: none !important;
            width: 100% !important;
            height: 40px !important;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
            padding: 9px 20px 7px 20px !important;
            color: rgba(43, 48, 58, 0.58) !important;
            font-size: 20px !important;
            border-radius: 0 !important;
        }

        ::placeholder {
            color: rgba(43, 48, 58, 0.58) !important;
            opacity: 1 !important;
        }
    }
}

.footer-newsletter::after {
    content: "";
    background: url("../images/footer/newsletter-image.png") no-repeat center 20%;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.footer-main {
    position: relative;
    background-color: #2B303A;

    .footer-main-logo {
        text-align: center;
        padding: 37px 0 30px 0;
        img {
            width: 124px;
            height: auto;
        }
    }

    .social-icons-column {
        text-align: center;
        margin-bottom: 23.69px;
        
        .social-icons a {
            display: inline-block;
            width: 20.31px;
            margin-right: 31.69px;
        }

        .social-icons a:last-child {
            margin-right: 0;
        }
    }

    .footer-main-contact {
        color: #95989D;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;

        .mobile-number {
            text-align: center;
            align-self: flex-end;
        }

        .email {
            text-align: right;
            align-self: flex-end;
        }
    }

    .horizontal-line__wrapper {
        padding: 0 15px;
        
        .horizontal-line {
            height: 1px;
            background-color: #95989D;
            margin: 20px auto 32px auto;
        }
    }

    .footer-nav {
        nav {
            margin-bottom: 38px;
        }

        a {
            line-height: 22px;
        }

        li:first-child {
            margin-left: -8px;
        }
        .sub-menu {
            display: block;
        }
        .sub-menu a,
        .sub-menu a {
            font-size: 16px;
            font-weight: 400;
            opacity: 0.8;
            text-transform: none;
            line-height: 19px;
        }

        .sub-menu li:first-child {
            margin: 6px 0 1px 0;
        }
        .sub-menu li {
            width: 100%;
            float: none;
            display: block;
        }
        
        li:last-child {
            margin-right: -8px;
        }
    }

    .chat-logo__wrapper {
        position: absolute;
        top: 69px;
        right: 0;
    }
    .chat-logo {
        width: 65px;  
        height: 65px;
        
        a {
            display: inline-block;
        }
        
        img {
            width: 100%;
        }
    }
}

.footer-main::before {
    content: "";
    background: url("../images/footer/halftone-dots.svg") no-repeat left bottom;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute; 
}

.footer-copyright__wrapper {
    background-color: #2B303A;
    
    .footer-copyright {
        background-color: #3b4048;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            -webkit-box-pack: justify;

            li {
                padding: 3px 0 1px 0;
            }

            li:first-child {
                margin-left: -8px
            }

            li:last-child {
                margin-right: -8px;
            }

            a {
                display: block;
                text-decoration: none;
                padding: 8px;
                padding-bottom: 10px;
                color: #fff;
                opacity: 0.5;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }

            a:hover {
                text-decoration: underline;
                opacity: 1;
            }
            li:last-child a:hover {
                text-decoration: none;
                opacity: 0.5;
                cursor: default;
            }

            
        }
    }
}

.footer-design {
    text-align: center;
    background-color: #f7f7f6;
    
    p,a {
        color: rgba(43, 48, 58, 0.5);
        font-size: 14px;
        padding: 11px 0 8px 0;
        line-height: 17px;
        margin-bottom: 0;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: rgba(43, 48, 58, 0.5);
        }

    }
}

@media (max-width: 767px) {
    .footer-newsletter {
        .footer-newsletter-header {
            display: block;

            .col-4-m:first-child,
            .col-4-m:last-child {
                display: none;
            }
        }
        .footer-newsletter-subscribe {
            .col-4-m {
                margin-bottom: 10px;
            }
        }
    }   
    
    .footer-main {
        .footer-main-contact {
            text-align: center;

            .email {
                text-align: center;
            }
        }

        .footer-nav {
            nav {
                margin-bottom: 8px;
            }
            
            ul {
                display: block;
                text-align: center;
            }

            ul a {
                display: inline-block;
            }

            li:first-child div:nth-child(2) {
                margin: 0;
            }
        }

        .chat-logo__wrapper {
            position: static;
            padding-bottom: 16px;
            
            .chat-logo {
                margin: 0 auto;
            }
        }
    }

    .footer-copyright__wrapper {
        .footer-copyright {
            ul {
                display: block;
                text-align: center;
            }

            ul li a {
                display: inline-block;
            }
        }
    }
}

