// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
    margin-top: 23px;
    margin-bottom: 9px;
    text-transform: uppercase;

    .top-nav-logo {
        margin-top: 7px;

        a {
            display: inline-block;
        }
    }

    .search-column {
        text-align: center;
        align-self: center;
        margin-bottom: 6px;
        span {
            display: none !important;
        }
        .search-form {
            position: relative;
        }
        .search-submit {
            background: url(../images/header/icons/search.svg) no-repeat;
            background-position-x: 95.5%;
            background-position-y: center;
            width: 20px;
            position: absolute;
            right: 12px;
            top: 8px;
            border-bottom: none;
            color: white;
            font-size: 1px;
            height: 20px;
            padding: 0;
        }
        input {
            background: white;
            background-size: 19px;
            padding-left: 12px;
            padding-right: 38px;
            color: #2B303A;
            border: none;
            border-bottom: 1px solid #BAC1B8;
            text-transform: uppercase;
            width: 100%;
            font-size: 20px;
        }

        input:focus {
            border: none;
            border-bottom: 1px solid #BAC1B8;
        }

        ::placeholder {
            color: #2B303A;
            opacity: 1;
        }
    }

    .social-icons-column {
        text-align: right;
        align-self: flex-start;

        .contact-us {
            font-weight: 500;
            color: #707078;
            font-size: 14px;
            margin-bottom: 25px;
            line-height: 17px;
            display: inline-block;
            text-decoration: none;
        }

        .social-icons a {
            display: inline-block;
            width: 20px;
            margin-right: 7px;
        }

        .social-icons a:last-child {
            margin-right: 0;
        }
    }

    .horizontal-line {
        height: 1px;
        background-color: rgba(43, 48, 58, 0.2);
        margin: 29px 0 9px 0;
    }

    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        a {
            display: block;
            text-decoration: none;
            padding: 8px;
            padding-left:0;
            padding-right:0;
            color: #2B303A;
            font-weight: 400;
            font-size: 18px;
            line-height: 15px;
        }

        a:hover {
            color: #DA2128;
            border-bottom: 1px solid #DA2128;
            display: inline-block;
            padding-bottom: 4px;
        }

        a:focus {
            text-decoration: none;
        }

        .current-menu-item a:after {
            display: block;
            content: attr(title);
            font-weight: bold;
            height: 0;
            overflow: hidden;
            visibility: hidden;
            text-transform: uppercase;
        }

        .nav-desktop {
            display: flex;
            justify-content: space-between;
            z-index: 1;
            position: relative;


            li {
                float: left;

                &:hover > ul {
                  display: block;
                }

                ul {
                  display: none;
                  position: absolute;
                  top: 30px;
                  width: 200px;
                  background-color: white;
                  padding-bottom: 10px;

                  li {
                    display: block;
                    width: 100%;

                    a {
                      padding: 1em 10px;
                      border-bottom: 1px solid transparent;

                      &:hover {
                        border-bottom: 1px solid #da2128;
                      }
                    }
                  }
                }
            }
            .current-menu-item a {
                font-weight: 700;
                color: #DA2128;
                border-bottom: 1px solid #DA2128;
                display: inline-block;
                padding-bottom: 4px;
            }
            .menu-header-menu-container {
                width: 100%;
                & > ul {
                    display: flex;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify !important;
                    -ms-flex-pack: justify;
                    justify-content: space-between !important;
                    width: 100%;
                }
            }
        }

        .nav-mobile {
            display: none;
            outline: none;
            text-align: center;
            padding-top: 9px;
            padding-bottom: 9px;

            .hamburger {
                outline: none;
            }

            .current-menu-item a {
                font-weight: 700;
            }

            .nav-mobile-navigation {
                display: none;
                padding: 1em;

                ul.sub-menu {
                  width: 180px;

                  li {
                    width: 100%;
                    float: left;
                  }

                  overflow: hidden;
                  text-align: left;
                  position: relative;
                  left: 50%;
                }

                a:hover {
                    background-color: #BAC1B8;
                }
            }
        }
    }
}
.current-menu-item a {
    font-weight: 700 !important;
}
.background-color {
    background-color: #F4F4F4;
}

@media (max-width: 768px) {
    header {
        .top-nav {
            text-align: center;
        }

        .search-column {
            margin: 20px 0;

            input[type="text"] {
                width: 80%;
            }
        }

        .social-icons-column {
            text-align: center;
        }
    }
}

@media (max-width: 979px) {
    header {
        margin-bottom: 0;

        .horizontal-line {
            margin-bottom: 0;
        }

        .header-navigation {
            padding: 0;
            margin: 0;
            width: 100%;

            .col-12-m {
                padding-left: 0;
                padding-right: 0;
            }
        }

        nav .nav-desktop {
            display: none;
        }

        nav .nav-mobile {
            display: block;
        }
    }
}
