.about-banner {
    background: url("../images/about-us/about-main-banner-image.jpg") no-repeat;
    background-position-x: left;
    background-position-y: 16%;
    background-size: cover;
    height: 400px;
    overflow: hidden;
    position: relative;

    .container-fluid,
    .row-m {
        height: 100%;
    }

    .about-banner-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0;
        right: 0;
        
        h1 {
            color: #fff;
            font-size: 45px;
            font-weight: 700;
            line-height: 75px;
            margin: 0;
            text-transform: capitalize;
        }
    }
}

.about-vision-mission {
    margin-top: 72px;
    margin-bottom: 55px;

    h2 {
        font-size: 45px;
        font-weight: 300;
        line-height: 54px;
        color: #DA2128;
        margin-bottom: 28px;
        text-transform: capitalize;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 29px;
        color: #2B303A;
        margin-bottom: 0;
        padding-bottom: 13px;
    }
}

.about-facts {
    background-color: #2B303A;
    padding-top: 83px;
    padding-bottom: 73px;

    .col-4-m {
        text-align: center;
    }

    img {
        height: 67px;
    }

    .about-facts-title {
        font-size: 25px;
        line-height: 30px;
        font-weight: 400;
        color: rgba(240, 168, 171, 0.8); 
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .about-facts-content {
        font-size: 35px;
        font-weight: 700;
        color: #fff;
        line-height: 42px;
    }
}

.about-timeline {
    margin-top: 84px;
    margin-bottom: 75px;

    h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        color: #2B303A;
        text-align: center;
        margin-bottom: 70px;
    }

    .about-timeline-events {
        position: relative;
        width: 100%;
        padding-bottom: 52px;

        .single-event__wrapper {
            display: flex;
        }

        .single-event__wrapper-first,
        .single-event__wrapper-second,
        .single-event__wrapper-third,
        .single-event__wrapper-fourth, {
            position: relative;
        }

        .single-event__wrapper-first,
        .single-event__wrapper-third {
            justify-content: flex-start;
        }

        .single-event__wrapper-first:nth-child(even) {
            justify-content: flex-end;
        }

        .single-event-year {
            @include about-event-year;
        }
        
        .single-event {
            position: relative;
            max-width: calc(50% - 95px);
            padding: 61px 76px;
            background-color: #2B303A;
            border-radius: 4px; 
        }

        .single-event:after {
            content: "";
            position: absolute;
            top: calc(50% - 24px);
            background-color: #2B303A;
            width: 48px;
            height: 48px;
            transform: rotate(45deg);
        }

        .single-event__wrapper-first:nth-child(odd) .single-event-left:after {
            right: -24px;
        }
        .single-event__wrapper-first:nth-child(even) .single-event-left:after {
            left: -24px;
        }

        .single-event-right:after {
            left: -24px;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 27px;
            color: #fff;
            margin-bottom: 0;
        }
    }

    .about-timeline-events:before {
        content: "";
        position: absolute;
        left: calc(50% - 2.5px);
        height: 100%;
        width: 5px;
        background-color: #D5D5D5;
        opacity: 0.87;
        border-radius: 20px;
    }

    .about-timeline-events:after {
        content: "";
        position: absolute;
        left: calc(50% - 15px);
        bottom: 0;
        width: 30px;
        height: 30px;
        border-left: 6px solid #D5D5D5; 
        border-bottom: 6px solid #D5D5D5; 
        opacity: 0.87;
        transform: rotate(-45deg);
    }
}

.about-services-projects-shop {
    background-color: rgba(43, 48, 58, 0.04);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 89px;

    img {
        width: 100%;
        height: 276px;
        object-fit: cover;
    }

    h2 {
        font-size: 45px;
        font-weight: 300;
        line-height: 54px;
        color: #DA2128;
        margin-top: 40px;
        margin-bottom: 26px;
        text-transform: capitalize;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 29px;
        color: #2B303A; 
        margin-bottom: 0;
        height: 258px;
    }
}

@media (max-width: 1199px) {
    .about-banner {
        
        .about-banner-title {
            width: 43%;
        }
    }
}

@media (max-width: 979px) {
    .about-vision-mission {
        text-align: center;

        h2:first-child {
            margin-top: 15px;
        }
    }

    .about-timeline {

        .about-timeline-events:before {
            position: absolute;
            left: 61px; 
        }

        .about-timeline-events:after {
            content: "";
            position: absolute;
            left: 49px;
        }

        .about-timeline-events {
            
            .single-event {
                position: relative;
                max-width: calc(100% - 100px);
                margin-top: 79px;
                margin-bottom: 30px;
            }

            .single-event__wrapper-first,
            .single-event__wrapper-third,
            .single-event__wrapper-second,
            .single-event__wrapper-fourth {
                justify-content: flex-end;
            }
            
            .single-event__wrapper-first:before,
            .single-event__wrapper-second:before,
            .single-event__wrapper-third:before,
            .single-event__wrapper-fourth:before {
                position: absolute;
                right: unset;
                left: 0;
                top: 0;
            }

            .single-event__wrapper-first:nth-child(odd) .single-event-left:after {
                right: unset;
                left: -24px;
            }
            .single-event__wrapper-first:nth-child(even) .single-event-left:after {
                right: unset;
                left: -24px;
            }
        }
    }

    .about-services-projects-shop {
        padding-top: 50px;
        
        img {
            margin-top: 30px;
        }

        p {
            height: unset;
            margin-bottom: 26px;
        }
    }
}

@media (max-width: 767px) {
    .about-banner {
        
        .about-banner-title {
            width: 100%;
        }
    }

    .about-facts {

        .col-4-m:nth-child(2) {
            margin: 60px 0;
        }
    }
}

@media (max-width: 510px) {
    .about-timeline {
        
        .about-timeline-events {
    
            .single-event {
                padding: 41px 28px;
            }
        }
    }
}