.blog-banner {
        background: url("../images/blog/blog-main-banner-image.jpg") no-repeat;
        background-position-x: left;
        background-position-y: 75%;
        background-size: cover;
        height: 400px;
        overflow: hidden;
        position: relative;

        .container-fluid,
        .row-m {
                height: 100%;
        }

        .blog-banner-title {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 35%;
                position: absolute;
                top: 0;
                right: 0;

                h1 {
                        color: #fff;
                        font-size: 45px;
                        font-weight: 700;
                        line-height: 75px;
                        margin: 0;
                        text-transform: capitalize;
                }
        }
}

.blog-image.image-search {
        position: relative;
        height: 378px;
        display: flex;
        justify-content: center;

        img {
                height: 100%;
                width: 100%;
                object-fit: cover;
        }

        .blog-post-date {
                width: 100%;
                background-color: #2B303A;
                color: #fff;
                font-size: 17px;
                padding-top: 11px;
                padding-left: 10px;
                padding-bottom: 10px;
                line-height: 20px;
                position: absolute;
                bottom: 0;
                text-align: center;
        }
}
.search-card-title {
        margin-top: 10px;
        text-align: center;
}
.search-card-button {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
}
.page-header-search {
        margin-left: 15px;
}

.blog-content {

        .container-fluid {
                background-color: #F5F6F6;
        }

        .newest-blog-post {
                padding-top: 78px;
                padding-bottom: 76px;
        }

        .blog-image {
                width: 100%;

                img {
                        width: 100%;
                        min-height: 329px;
                }
        }

        .blog-text {

                h2 {
                        font-size: 40px;
                        font-weight: 300;
                        line-height: 48px;
                        color: #2B303A;
                        margin-bottom: 10px;
                }

                h2 + p {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 700;
                        color: $lp-red;
                        margin-bottom: 35px;
                }

                h4, h4 + p {
                        font-size: 20px;
                        color: #2B303A;
                        line-height: 24px;
                }

                h4 {
                        font-weight: 700;
                        margin-bottom: 22px;
                }

                h4 + p {
                        font-weight: 400;
                        margin-bottom: 29px;
                }
        }

        .blog-post-row {
                text-align: center;

                .col-4-l {
                        margin-bottom: 78px;
                }

                .blog-image {
                        position: relative;
                        height: 378px;
                        display: flex;
                        justify-content: center;

                        img {
                                height: 100%;
                                object-fit: cover;
                        }

                        .blog-post-date {
                                width: 39%;
                                background-color: #2B303A;
                                color: #fff;
                                font-size: 17px;
                                padding-top: 11px;
                                padding-bottom: 10px;
                                line-height: 20px;
                                position: absolute;
                                bottom: 0;
                        }
                }

                h4 {
                        color: #2B303A;
                        font-size: 25px;
                        font-weight: 300;
                        line-height: 34px;
                        margin-top: 31px;
                        margin-bottom: 29px;
                        min-height: 68px;
                }
        }

        .blog-post-row-first {
                margin-top: 78px;
        }

        .blog-post-row-second {
                margin-bottom: 8px;
        }
}

@media (max-width: 1199px) {
        .blog-banner {

                .blog-banner-title {
                        width: 43%;
                }
        }
}

@media (max-width: 979px) {
        .newest-blog-post {
                text-align: center;
        }

        .blog-text {

                h2 {
                        padding-top: 20px;
                }
        }
}


@media (max-width: 767px) {
        .blog-banner {

                .blog-banner-title {
                        width: 100%;
                }
        }
}

.latest-blog-post {
    background-color: #F5F6F6;
    padding-top: 67px;
    padding-bottom: 88px;
    padding-left: 2em;
    padding-right: 2em;

    .el-lp {
        &-wrapper {
            max-width: 1190px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
        }
        &-blog-title {
            display: block;
            margin-bottom: 67px;
            text-align: center;
            font-size: 45px;
            font-weight: bold;
        }
        &-thumb {
            @include bp( 1, 599 ) {
                img {
                    width: 100%;
                    height: auto;
                }
            }
            @include bp( 600 ) {
                display: block;
                margin: 0 auto;
                overflow: hidden;
                margin-bottom: 2em;
            }
            @include bp( 1240 ) {
                margin-bottom: unset;
            }
            a {
                display: block;
            }
        }
        &-content {
            position: relative;
        //     height: 446px;
            @include bp( 1 ) {
                width: 582px;
                margin: 1em;
                margin: 0 auto;
            }
            @include bp( 1260 ) {
                width: 538px;
                margin-left: 66px;
            }
        }
        &-title {
            font-size: 40px;
            line-height: 1;
            font-weight: 300;
            color: #2B303A;
        }
        &-date {
            color: $lp-red;
            font-weight: bold;
            font-size: 20px;
            margin-top: 10px;
        }
        &-excerpt {
            margin-top: 28px;
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 28px;
        }
        &-readmore {
            text-transform: capitalize;
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-weight: 500;
            padding: 12px 42px;
            border-radius: 4px;
            background-color: $lp-red;
            transition: transit( background-color );
            position: relative;
            display: inline-block;
            &:hover {
                background-color: $lp-red-hover;
            }
        }
    }
}
