.blog-post {

    .blog-post-header {
        margin: 0 auto;
        text-align: center;
        margin-top: 73px;
        margin-bottom: 76px;

        h2 {
            font-size: 40px;
            font-weight: 300;
            color: #2B303A;
            line-height: 48px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            color: #DA2128;
            margin-bottom: 76px;
        }

        .blog-post-date {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            color: #DA2128;
            margin-bottom: 76px;
        }

        .blog-post-image {
            width: 100%;
            max-height: 450px;
            height: 450px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .grey-rectangle-upper {
        background-color: #F5F6F6;
        margin-top: 76px;
        margin-bottom: 79px;
        padding-top: 71px;
        padding-bottom: 60px;

        .col-10-m {
            margin: 0 auto;
        }

        h3 {
            font-size: 20px;
            font-weight: 700;
            color: #2B303A;
            margin-bottom: 22px;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            color: #2B303A;
            line-height: 33px;
            margin-bottom: 0;
        }
    }

    .blog-post-description {

        .row-l {
            display: flex;
            justify-content: center;
        }

        .blog-post-image {
            width: 100%;
            max-height: 368px;
            height: 368px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .blog-post-description-text {
            margin-top: 74px;

            .col-10-m {
                margin: 0 auto;
            }

            h4 {
                font-size: 20px;
                font-weight: 700;
                color: #2B303A;
                line-height: 24px;
            }

            p {
                font-size: 20px;
                font-weight: 400;
                color: #2B303A;
                line-height: 24px;
            }

            ol {
                padding: 0;
                margin: 0 0 10px 17px;

                li {
                    padding-left: 27px;
                    margin-bottom: 41px;
                }

                li:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .grey-rectangle-lower {
        background-color: #F5F6F6;
        margin-bottom: 6px;

        .col-10-m {
            margin: 0 auto;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 33px;
            color: #2B303A;
            margin-top: 75px;
            margin-bottom: 64px;
        }
    }

    // Styling list
    ul {
        font-size: 20px;
        font-weight: 400;
        color: #2b303a;
        line-height: 24px;
        li {

        }
    }
}

.blog-image:hover {
    cursor: pointer;
}

.blog-post-content {

    .container-fluid {
        background-color: #F5F6F6;
    }

    .newest-blog-post {
        padding-top: 78px;
        padding-bottom: 76px;
    }

    .blog-image {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .blog-text {

        h2 {
            font-size: 40px;
            font-weight: 300;
            line-height: 48px;
            color: #2B303A;
            margin-bottom: 10px;
        }

        h2 + p {
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
            color: #DA2128;
            margin-bottom: 47px;
        }

        h4, h4 + p {
            font-size: 20px;
            color: #2B303A;
            line-height: 24px;
        }

        h4 {
            font-weight: 700;
            margin-bottom: 22px;
        }

        h4 + p {
            font-weight: 400;
            margin-bottom: 29px;
        }
    }

    .blog-post-row {
        text-align: center;

        .col-4-l {
            margin-bottom: 84px;
        }

        .blog-image {
            position: relative;
            height: 378px;
            display: flex;
            justify-content: center;

            img {
                height: 100%;
                object-fit: cover;
            }

            .blog-post-date {
                width: 39%;
                background-color: #2B303A;
                color: #fff;
                font-size: 17px;
                padding-top: 11px;
                padding-bottom: 10px;
                line-height: 20px;
                position: absolute;
                bottom: 0;
            }
        }

        h4 {
            color: #2B303A;
            font-size: 25px;
            font-weight: 300;
            line-height: 34px;
            margin-top: 31px;
            margin-bottom: 29px;
            min-height: 68px;
        }
    }

    .blog-post-row-first {
        margin-top: 78px;
    }

    .blog-post-row-second {
        margin-bottom: 8px;
    }
}

@media (max-width: 1199px) {
    .blog-banner {

        .blog-banner-title {
            width: 43%;
        }
    }
}

@media (max-width: 979px) {
    .blog-post {

        .blog-post-description {

            .row-l {
                display: block;
            }

            .blog-post-image:last-child {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 767px) {
    .blog-banner {

        .blog-banner-title {
            width: 100%;
        }
    }
}

.gut-blog-post-sliders {
  .slider-image {
    width: 100%;

    &-wrap {
      position: relative;
      height: 600px;
    }
  }

    .blog-prev {
        left: 50px !important;
        z-index: 10 !important;
        width: 15px;
        height: 30px;
       
        &:before {
            font-size:70px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .blog-next {      
        right: 90px !important;
        z-index: 10 !important;
        width: 15px;
        height: 30px;

        &:before {
            font-size:70px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
  
  .image-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1em;
    background-color: rgba(black, 0.75);
    color: white !important;
  }
}
