.brands-banner {
    background-size: cover !important;
    height: 280px;
    overflow: hidden;
    position: relative;

    .container-fluid,
    .row-m {
        height: 100%;
    }

    .overlay-half {
      background: rgba(43, 48, 58, 0.5);
      flex: 1;
      padding: 1rem;
      width: 50%;
    }

    .brands-banner-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        top: 0;
        left: 0;

        h1 {
            color: #fff;
            font-size: 45px;
            font-weight: 700;
            line-height: 75px;
            margin: 0;
        }
    }

    #breadcrumbs {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -90px;
      margin-left: -40px;

      span {
        font-size: 15px;
        color:  #fff;
        opacity: 0.8;

        a {
          color:  #fff;

        }
      }
    }
}

.brands-content {
    background-color: #F5F6F6;
    padding-top: 1px;
    padding-bottom: 1px;

    .content-column {
      font-size: 18px;
    }

    p {
        text-align: center;
        line-height: 28px;
        color: #0000;
        font-size: 18px;
        font-weight: 400;
        margin: 72px 0;
    }

    ul {
      margin-top: 0px;
    }

    li {
      list-style: none;
      text-indent: -1em;
  }

  li:before {
      content:"·";
      font-size: 20px;
      vertical-align:middle;
      line-height: 20px;
  }
}

.brand-short-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;

  .brand-logo {
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 150px;
  }

  p {
    padding-top: 20px;
    text-align: center;
    font-size: 18px;
  }
}

.brands-online-shop {
    position: relative;
    background-size: cover !important;
    z-index: 1;
    padding-top: 86px;

    h2 {
        text-transform: uppercase;
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        padding: 0 0 28px 0;
        line-height: 49px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: #fff;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
}

@mixin bp( $p, $q: null, $orient: width, $orientation: null ) {
	@if ( $q != null ) {
		@if ( $orientation == null ) {
			@media (min-#{$orient}: $p * 1px) and (max-#{$orient}: $q * 1px) { @content; }
		} @else {
			@media (min-#{$orient}: $p * 1px) and (max-#{$orient}: $q * 1px) and (orientation: $orientation) { @content; }
		}
	} @else {
		@if ( $orientation == null ) {
			@media (min-#{$orient}: $p * 1px) { @content; }
		} @else {
			@media (min-#{$orient}: $p * 1px) and (orientation: $orientation) { @content; }
		}
	}
}

.brands-products {
  &.brand-product-slider {
    img {
      max-width: 360px;
    }
  }
  .slick-slide {
    @include bp( 1024 ) {
      width: 833px !important;
      margin-right: 80px !important;
    }
  }

  .slick-prev {
    left: 25%;
    height: 30px;
    z-index: 99 !important;
  }

  .slick-next {
    right: 25%;
    height: 30px;
    z-index: 99 !important;
  }

  h3 {
    color: #DA2128;
    font-size: 45px;
    font-weight: 300;
    line-height: 54px;
    margin-top: 33px;
    margin-bottom: 39px;
    text-align: center;
  }

  .right-text {

    h5 {
      font-size: 15px;
      padding-bottom: 30px;
    }

    .price {
      color: #DA2128;
      font-size: 18px;
      padding-top: 45px;
    }
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    color: black;
    font-size: 13px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;

    @include bp(1, 1023) {
      transform: translate(0, 0);
      padding: 2em;
    }

    @include bp(1024) {
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
    }

    ul > li {
      list-style: none;
      margin-left: -38px;
    }
  }

  .slick-track {
    @include bp( 1, 1023 ) {
      height: 800px;
    }
  }

  .slide-box {
    position: relative;
    background-color: #F5F6F6;
  }

  .brand-product-row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
  }

}

.brand-button {
  display: flex;
  align-items: baseline;
  padding: 15px 50px 15px 50px;
  margin-top: 7px;
  margin-top: 24px;
  margin-bottom: 21px;
}

.icon-brand {
  justify-content: center;
  width: 18px;
  height: 18px;
  background: url('../images/brands/icon_write.svg') no-repeat center center;
  background-size: 18px 18px;
  padding-right: 40px;
}


.brands-online-shop::after {
    content: "";
    background-color: rgba(43, 48, 58, 0.8);
    width: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* ----------- Retina Screens ----------- */
@media (max-width: 1280px) {
    .brands-products {
      .slick-prev {
        left: 13.5% !important;
        height: 30px;
        z-index: 99 !important;
      }

      .slick-next {
        right: 13.5% !important;
        height: 30px;
        z-index: 99 !important;
      }
    }
}

@media (max-width: 767px) {
    .brands-online-shop-left {
        text-align: center;
    }

    .brands-banner {

        .brands-banner-title {
            width: 100%;
        }
    }

    .brands-online-shop::after {
        width: 100%;
    }

    .brands-products {

      .slick-prev {
        display: none  !important;
      }

      .slick-next {
        display: none  !important;
      }

      .right-text {
        h5 {
          font-size: 13px !important;
        }
        @include bp(1024) {
          left: 63%;
          font-size: 10px !important;
        }
      }
    }

}
