.commercial-banner {
    background: url("../images/commercial/commercial-main-banner-image.jpg") no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    height: 400px;
    overflow: hidden;
    position: relative;

    .container-fluid,
    .row-m {
        height: 100%;
    }

    .commercial-banner-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0;
        right: 0;

        h1 {
            color: #fff;
            font-size: 45px;
            font-weight: 700;
            line-height: 75px;
            margin: 0;
        }
    }
}

.commercial-content {

    p {
        text-align: center;
        line-height: 28px;
        color: #2B303A;
        font-size: 20px;
        font-weight: 400;
        margin: 72px 0;
    }
}

.commercial-projects {
    position: relative;
    background: url("../images/commercial/projects-banner-image.jpg") no-repeat center 40%;
    background-size: cover;
    z-index: -2;

    p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: #fff;
        padding-top: 82px;
        margin-bottom: 0;
    }
}

.commercial-projects::after {
    content: "";
    background-color: rgba(43, 48, 58, 0.8);
    width: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.residential-online-shop-left {
    padding-bottom: 60px;
}

@media (max-width: 1199px) {
    .commercial-banner {

        .commercial-banner-title {
            width: 43%;
        }
    }
}

@media (max-width: 767px) {
    .commercial-projects-left {
        text-align: center;
    }

    .commercial-banner {

        .commercial-banner-title {
            width: 100%;
        }
    }

    .commercial-projects::after {
        width: 100%;
    }
}

.residential-content a {
  word-break: break-all;
}

// Gutemberg Tabs custom styling 
.wp-block-advgb-tabs {
  ul {
    display: flex;
    justify-content: center;

    & ~ div {
      border: 0 !important;
    }

    li {
      margin-right: 10px !important;
      text-transform: uppercase;
      font-size: 14px;
      border-radius: 3px !important;
      border: 0 !important;
      width: 150px;
      min-height: 100%;
      line-height: 1;
      position: relative;

      &:after {
        content: '';
        display: block;
        height: 5px;
        width: 10px;
        background-color: grey;
        position: absolute;
        right: -10px;
        top: 50%;
      }

      &:last-child:after {
        display: none;
      }

      a {
        height: 100%;
        padding: 30px 20px;
        text-align: center;
        width: 100%;
        display: table;

        span {
          display: table-cell;
          vertical-align: middle;
          width: 100%;
          word-break: break-word;
        }
      }

      &.ui-state-default {
        a {
          color: grey !important;
        }
      }

      &.ui-state-active {
        a {
          color: white !important;
          font-weight: 700;
        }
      }
    }
  }
}
