.contact-banner {
    background: url("../images/contact-us/contact-main-banner-image.jpg") no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    height: 400px;
    overflow: hidden;
    position: relative;

    .container-fluid,
    .row-m {
        height: 100%;
    }

    .contact-banner-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0;
        right: 0;
        
        h1 {
            color: #fff;
            font-size: 45px;
            font-weight: 700;
            line-height: 75px;
            margin: 0;
            text-transform: capitalize;
        }
    }
}

.send-message-row .frm_form_fields,
.send-message-row .frm_form_fields-submit {
    margin-bottom: 0 !important;
}
.send-message-row fieldset {
    padding: 0 !important;
}

.contact-requisite {

    margin-top: 72px;
    margin-bottom: 70px;

    .contact-map {
        padding-right: 0;
        height: 780px;
        
        iframe {
            width: 100%;
            height: 100%;
        }
    }

    .contact-contact {
        padding-left: 78px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
            margin-bottom: 0;
        }

        .contact-contact-row {
            font-size: 20px;
            line-height: 28px;
            font-weight: 400;
            
            address {
                font-style: normal;
            }

            .right-column {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .right-column .col-12-m {
                padding: 0;
            }
            
            .email {
                color: #DA2128;
            }

            .col-6-m {
                padding: 0;
            }
        }

        .horizontal-line {
            border-bottom: 1px solid #D5D5D5;     
            margin: 1em 0;       
        }

        .contact-hours__wrapper {

            .col-12-m {
                padding: 0;
            }
        }

        .opening-hours-title {

            h3 {
                text-transform: capitalize;
            }
        }

        .opening-hours-row {

            .hours-title-row {
                padding: 0;
            }


            .col-6-m {
                padding: 0;
                font-size: 20px;
                line-height: 28px;
                font-weight: 400;
            }
        }

        .send-message-row {

            .col-12-m {
                padding: 0;
            }

            h3 {
                margin-bottom: 20px;
            }

            input, textarea {
                width: 100%;
                background-color: #F5F6F6;
                border: none;
                padding-left: 14px;
                color: #95989D;
                font-size: 15px;
                box-shadow: none;
                border-radius: 0;
            }

            input {
                height: 40px;
            }

            textarea {
                height: 123px;
            }

            form div {
                margin-bottom: 10px;
            }

            ::placeholder {
                color: #95989D;
                font-size: 15px;
            }
        }
    }
}

.contact-direction {
    // height: 495px;

    .container-fluid,
    .row-m {
        height: 100%;
    }

    .contact-direction-left {
        background-color: #2B303A;
        // padding: 0 15px;
    }
    
    .contact-direction-right {
        background-color: #F5F6F6;
        // padding: 0 15px;
    }

    .directions {
        margin: 0 auto;
        text-align: center;
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
            color: #fff;
            font-size: 45px;
            font-weight: 300;
            line-height: 54px;
            margin-top: 33px;
            margin-bottom: 39px;
        }

        h4, p {
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            max-width: 551px;
        }

        h4 {
            margin-bottom: 39px;
        }

        p {
            margin-bottom: 52px;
        }
    }

    .public-transport {
        
        h3 {
            color: #DA2128;
        }

        h4, p {
            color: #2B303A;
        }
    }

    img {
        width: 95px;
        height: 38px;
        margin-top: 64px;
    }
}

@media (max-width: 1279px) {
    .contact-direction {
        height: unset;
        padding-bottom: 0;

        .directions {
            max-width: unset;
        }
    } 

    .public-transport {
        
       p {
           width: unset;
       }
    }
}

@media (max-width: 1199px) {
    .contact-banner {
        
        .contact-banner-title {
            width: 43%;
        }
    }
}

@media (max-width: 979px) {
    .contact-requisite {

        .contact-contact {
            padding-left: 0;  
            margin-top: 30px;  
        }

        .send-message-row {
            margin-top: 30px;

            h3 {
                text-align: center;
            }

            button {
                width: 100%;
                text-align: center;
            }
        }
    }
}

@media (max-width: 767px) {   
    .contact-banner {
        
        .contact-banner-title {
            width: 100%;
        }
    }

    .contact-contact-row {
        text-align: center;
        
        .right-column {
            margin-top: 30px;
        }
    }
    .contact-hours__wrapper {
        text-align: center;
        margin-top: 30px;
    }
}