.faq-banner {
    background: url("../images/faq/faq-main-banner-image.jpg") no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    height: 400px;
    overflow: hidden;
    position: relative;

    .container-fluid,
    .row-m {
        height: 100%;
    }

    .faq-banner-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0;
        right: 0;
        
        h1 {
            color: #fff;
            font-size: 45px;
            font-weight: 700;
            line-height: 75px;
            margin: 0;
            text-transform: capitalize;
        }
    }
}

.faq-sections {
    background-color: #F5F6F6;
    padding-top: 73px;
    padding-bottom: 63px;

    .faq-sections-row {
        display: flex;
        justify-content: space-between;
    }

    .faq-sections-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        position: relative;

        li:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: #BCBCBC;
        }

        li:nth-child(odd):after {
            display: none;
        }

        .faq-sections-nav-section {
            text-decoration: none;
            font-size: 32px;
            font-weight: 300;
            line-height: 38px;
            color: #BCBCBC
        }

        .faq-sections-nav-section:hover {
            font-weight: 400;
            color: #DA2128;
        }

        .faq-questions-active {
            color: #DA2128;
            font-weight: 400;
        }
    }
}

.faq-questions {
    margin-top: 76px;
    margin-bottom: 61px;

    .faq-questions-content {
        display: none;

        .faq-questions-row:hover {
            cursor: pointer;
        }
    }

    .faq-content-active {
        display: block;
    }

    .faq-questions__wrapper {
        display: flex;
        align-items: center;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;

        .faq-questions-content-addition {
            display: none;
        }

        .faq-questions-content-addition-active {
            display: block;
        }

        .faq-questions-icon {
            width: 26px;
            height: 26px;
            margin-right: 26px;
            align-self: flex-start;
            transition: unset;
            display: none;
        }

        .faq-questions-icon img {
            height: 100%;
        }

        .faq-questions-image-show {
            display: block;
        }

        .faq-questions-image-hide {
            display: none;
        }

        h3 {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 0;
            color: #2B303A;
        }
        
        .faq-questions-content {
            display: none;

            p, li {
                font-size: 18px;
                color: #2B303A;
                line-height: 28px;
            }

            p {
                margin-bottom: 32px;
            }

            .faq-questions-content-inner-list {
                margin: 0;
                margin-bottom: 32px;
                padding: 0;
                list-style-position: inside;
            }
        }

    }
    
    .lightning-design:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: #D5D5D5;
    }
}

@media (max-width: 1199px) {
    .faq-banner {
        
        .faq-banner-title {
            width: 43%;
        }
    }

    .faq-sections {

        .faq-sections-row {

            .col-12-m {
                width: 100%;
            }
        }
        
        .faq-sections-nav {
            display: block;

            li {
                text-align: center;
                margin-bottom: 20px;
                
                a {
                    padding: 8px;
                }
            }
    
            li:after {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {   
    .faq-banner {
        
        .faq-banner-title {
            width: 100%;
        }
    }
}