// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

#home-popup {
    position: relative;
    background: url("/wp-content/themes/elektra/dist/images/popup/woman-shopping.jpg") no-repeat center top;
    background-size: cover;
    padding: 0;
    margin: 0;
    z-index: -2;
    overflow: unset;
    max-height: 532px;
    min-width: 80vw;

    .frm_error_style {
        display: none !important;
    }
    .frm_error {
        margin-bottom: -19px !important;
    }

    button {
        background-color: transparent;
        color: #2B303A;
        padding: 0;
        height: 40px;
        font-size: 20px;
        box-shadow: none;
        border: none;
        margin-top: 0;
        margin-right: 0;
    }

    img {
        margin: 47px 0 13px 90px;
    }

    .popup-ribbon {
        width: 437px;
        margin-left: -6.35%;
        background: url("/wp-content/themes/elektra/dist/images/popup/ribbon.svg") no-repeat;
        padding: 24px 75px 0px 141px;
    }

    h2 {
        height: 69px;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        color: #fff;
    }

    p {
        font-size: 20px;
        line-height: 24px;
        color: #2B303A;
        margin-left: 90px;
        font-weight: 300;
        margin-bottom: 19px;
    }

    form {
        margin-left: 90px;
        width: 100%;

        div {
            margin-bottom: 19px;
        }

        input {
            border-radius: 5px;
            border: none;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            padding: 14px 20px 12px 20px;
            font-size: 20px;
            color: rgba(43, 48, 58, 0.58);
            line-height: 24px;
            width: 460px;
            height: 50px;
        }

        ::placeholder {
            color: rgba(43, 48, 58, 0.58);
        }
    }
}

#home-popup:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.53);
    z-index: -1;
}

.slick-slide {
    outline: none !important;
}

.slider-main {

    .col-12-m {
        padding-left: 0;
        padding-right: 0;
    }

    .home-slider {
        min-height: 659px;
        height: 659px;

        .slick-list,
        .slick-track {
            height: 100%;
        }

        .slick-prev {
            left: 5.1%;
            z-index: 1;
            width: 22px;
            height: 45px;
        }

        .slick-next {
            right: 5.1%;
            z-index: 1;
            width: 22px;
            height: 45px;
        }

        .slick-prev:before,
        .slick-next:before {
            font-size: 70px;
        }

        .home-slider-slide-first {
            background-size: cover!important;
            display: flex;
            align-items: center;

            .container {
                z-index: 1;
                position: relative;
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.2;
                position: absolute;
                top: 0;
                z-index: 0;
            }
        }

        .home-slider-row {
            display: flex;
            justify-content: flex-end;
            // padding-top: 192px;
        }

        .home-slider-column-text {
            color: #fff;
            font-weight: 700;
            font-size: 45px;
            margin-bottom: 20px;
            text-align: right;
            line-height: 75px;
        }

        .home-slider-button {
            margin-top: 35px;
            @media(min-width: 768px) {
                margin-right: 10px;
            }

            .col-12-m {
                @media(min-width: 768px) {
                    text-align: right;
                }
            }
        }
    }
}

.about-us {
    position: relative;

    .col-12-m {
        text-align: center;
        padding: 0 15px;

        h3 {
            text-transform: uppercase;
            color: #2B303A;
            font-size: 45px;
            font-weight: 700;
            padding-top: 67px;
            padding-bottom: 39px;
            margin-bottom: 0;
            line-height: 75px;
        }

        p {
            max-width: 991px;
            margin: 0 auto;
            padding-bottom: 17px;
            color: #2B303A;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0;
        }
    }
}

.about-us::after {
    content: "";
    background: url("../images/home/about-image.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.our-projects__wrapper {
    /*background: url("../images/home/our-projects-image.jpg") no-repeat center center;*/
    background-size: cover;
    z-index: -2;
    transition: background 1s;

    h3 {
        position: relative;
    }

    .container-fluid,
    .row-m {
        height: 100%;
    }

    .our-projects {
        position: relative;
        width: 378px;

        .our-projects-overlay {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 2000px;
            background-color: rgba(43, 48, 58, 0.8);
        }
    }

    .our-projects-slider {
        width: 326px;

        .our-projects-slide-slick {
            h4 {
                a {
                    color: white;
                }
            }
        }
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .slick-dots {
        bottom: 40px;
        text-align: left;

        li {
            width: 13px;
            height: 13px;
            margin: 0;
        }

        li + li {
            margin-left: 25px;
        }

        button {
            width: 13px;
            height: 13px;
        }
    }

    .slick-dots li button:before {
        font-size: 13px;
        color: #fff;
        opacity: 1;
    }

    .slick-dots li.slick-active button:before {
        color: #DA2128;
        opacity: 1;
    }

    h3 {
        color: #fff;
        text-transform: uppercase;
        font-size: 45px;
        font-weight: 700;
        line-height: 75px;
        padding: 70px 0 31px 0;
        margin-bottom: 0;
    }

    h4 {
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        padding-bottom: 23px;
        margin-bottom: 0;
    }

    p {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 133px;
        margin-bottom: 0;
    }
}

.our-brands {
    margin-bottom: 57px;

    h3 {
        color: #2B303A;
        text-align: center;
        text-transform: uppercase;
        font-size: 45px;
        font-weight: 700;
        margin-top: 72px;
        margin-bottom: 37px;
        line-height: 75px;
    }

    .slick-track {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .slick-slide {
        display: flex !important;
        justify-content: center !important;
    }

    .slick-prev {
        left: -70px;
        z-index: 1;
        width: 22px;
        height: 45px;
    }

    .slick-next {
        right: -70px;
        z-index: 1;
        width: 22px;
        height: 45px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 70px;
        color: #000;
    }
}

@media (max-width: 767px) {
    .home-slider {
        min-height: auto;
        height: auto;

        .home-slider-row {
            display: block;
            // padding-top: 110px;

            .home-slider-column {
                text-align: center;

                .home-slider-column-text {
                    text-align: center;
                    margin-bottom: 0;
                    // line-height: 55px;
                    line-height: 45px;                    
                    font-size: 30px;
                    margin: 1em;
                }
            }
        }

        .home-slider-button {
            display: block;
            margin-bottom: 40px;

            .col-12-m {
                text-align: center;

                .button-main {
                    padding: 10px 20px;
                    font-size: 17px;
                }
            }
        }
    }

    .our-projects__wrapper {
        overflow: hidden;

        h3, h4, p {
            text-align: center;
        }

        .our-projects-slide {
            padding-left: 15px;
            padding-right: 15px;
        }
        .container {
            padding: 0;
        }

        .our-projects {
            width: 100%;
        }

        .our-projects-slider {
            width: 100%;
            padding-bottom: 3em;

            .our-projects-slide-slick {
                h4 {
                    a {
                        color: white;
                    }
                }
            }

            .button-main {
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-bottom: 0;
            }
        }

        .slick-dots {
            text-align: center;
        }
    }
}

@media (max-width: 1299px) {
    .our-brands {

        .slick-prev {
            left: -30px;
        }

        .slick-next {
            right: -30px;
        }
    }
}

@media (max-width: 1250px) {
    .fancybox-slide--html {
        padding: 6px 60px 0;
    }
}

@media (max-width: 1199px) {
    #home-popup {

        .popup-ribbon {
            margin-left: -3.7%;
        }
    }

    .our-brands {

        .slick-prev {
            left: -70px;
        }

        .slick-next {
            right: -70px;
        }
    }
}

@media (max-width: 1106px) {
    #home-popup {

        .popup-ribbon {
            margin-left: -3.8%;
        }
    }
}

@media (max-width: 1085px) {
    .our-brands {

        .slick-prev {
            left: -35px;
        }

        .slick-next {
            right: -35px;
        }
    }
}


@media (max-width: 1010px) {
    .our-brands {

        .slick-prev {
            left: -25px;
        }

        .slick-next {
            right: -25px;
        }
    }
}

@media (max-width: 979px) {
    #home-popup {

        .popup-ribbon {
            margin-left: -4.8%;
        }
    }

    .our-brands {

        .slick-prev {
            left: -70px;
        }

        .slick-next {
            right: -70px;
        }
    }
}

@media (max-width: 868px) {
    #home-popup {

        .popup-ribbon {
            margin-left: -4.9%;
        }

        p {
            margin-right: 15px;
            width: 410px;
        }
    }
}

@media (max-width: 860px) {
    .our-brands {

        .slick-prev {
            left: -30px;
        }

        .slick-next {
            right: -30px;
        }
    }
}

@media (max-width: 767px) {
    #home-popup {
        overflow: hidden;

        img {
            margin-left: 15px;
            margin-right: 15px;
        }

        .popup-ribbon {
            margin-left: -45px;
            width: 100%;
            display: flex;
            align-items: center;

            h2 {
                height: unset;
            }
        }

        p {
            width: 100%;
            margin: 0 auto 19px auto;
        }

        form {
            margin: 0 auto;
        }
    }

    .our-brands {
        margin-bottom: 80px;

        .slick-prev {
            left: 20%;
            top: 130px;
        }

        .slick-next {
            right: 20%;
            top: 130px;
        }
    }
}

@media (max-width: 586px) {
    #home-popup {

        .popup-ribbon {
            padding: 15px;
            background: #DA2128;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            justify-content: center;

            h2 {
                margin-bottom: 0;
            }
        }

        form {

            input {
                width: 100%;
            }
        }
    }
}

#curator-feed-default-layout {
  padding: 0;
}
