.projects-banner {
    background: url("../images/projects/projects-main-banner-image.jpg") no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    height: 400px;
    overflow: hidden;
    position: relative;

    .container-fluid,
    .row-m {
        height: 100%;
    }

    .projects-banner-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0;
        right: 0;
        
        h1 {
            color: #fff;
            font-size: 45px;
            font-weight: 700;
            line-height: 75px;
            margin: 0;
            text-transform: capitalize;
        }
    }
}

.projects-content {
    background-color: #F5F6F6;
    
    p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: #2B303A;
        margin-top: 72px;
        margin-bottom: 57px;
        text-align: center;
    }
}

.projects-projects {

    h2 {
        font-size: 45px;
        font-weight: 300;
        line-height: 90px;
        color: #DA2128;
        text-align: center;
        margin-top: 91px;
        margin-bottom: 57px;
    }

    .projects-projects-row {
        padding-bottom: 77px;
    }

    .all-projects-slider {
        
        .slick-prev {
            left: 6.5%;
            z-index: 1;
            width: 15px;
            height: 30px;
        }
        
        .slick-next {
            right: 6.5%;
            z-index: 1;
            width: 15px;
            height: 30px;
        }
    
        .slick-prev:before {
            font-size: 70px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);            
        } 
        .slick-next:before {
            font-size: 70px;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%,-50%);
        }

        .projects-slider-slide {
            position: relative;
            max-height: 768px;
            max-width: 1194px;
            margin-right: 100px;
    
            img {
                height: 100%;
                width: 100%;
            }
    
            .show-slide-text {
                display: flex;
            }
    
            .slide-text p {
                font-size: 24px;
                font-weight: 700;
                line-height: 29px;
                color: #fff;
                text-align: left;
                margin-bottom: 0;
            }    
        }

        .projects-slider-slide {
            
            .slide-text {
                width: 100%;
                background-color: #DA2128;
                position: absolute;
                bottom: 0;
                padding-left: 51px;
                padding-top: 36px;
                padding-bottom: 35px;
                align-items: center;
            }
        }

        .projects-slider-slide {

            .projects-slide-overlay {
                position: absolute;
                background-color: rgba(43, 48, 58, 0.6);
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 1;
                transition: opacity 1s;
            }

            &.slick-current {
                
                .projects-slide-overlay {
                    opacity: 0 !important;
                }

            }

        }
    }

    .projects-button {
        display: flex;
        justify-content: center;
    }
    
    .grey-background {
        background-color: #F6F7F7;
    }
}

@media (max-width: 1750px) {
    .projects-projects {
        
        .all-projects-slider {
            
            .slick-prev {
                left: 3.5%;   
            }
            
            .slick-next {
                right: 3.5%;
            }
        }
    }
}

@media (max-width: 1580px) {
    .projects-projects {
        
        .all-projects-slider {
            
            .slick-prev {
                left: 2%;   
            }
            
            .slick-next {
                right: 2%;
            }
        }
    }
}

@media (max-width: 1540px) {
    .projects-projects {
        
        .all-projects-slider {
            
            .slick-prev {
                left: 11%;   
            }
            
            .slick-next {
                right: 11%;
            }
        }
    }
}

@media (max-width: 1415px) {
    .projects-projects {
        
        .all-projects-slider {
            
            .slick-prev {
                left: 8%;   
            }
            
            .slick-next {
                right: 8%;
            }
        }
    }
}

@media (max-width: 1330px) {
    .projects-projects {
        
        .all-projects-slider {
            
            .projects-slider-slide {
                // max-width: unset;
                max-height: unset;
                height: 768px;
                margin-right: 0;
            }
            
            .slick-prev {
                left: 5%;   
            }
            
            .slick-next {
                right: 5%;
            }
        }
    }
}

@media (max-width: 1199px) {
    .projects-banner {
        
        .projects-banner-title {
            width: 43%;
        }
    }

    // .all-projects-slider {
    //     transform:scale(0.9); 
    // }
}

@media (max-width: 767px) {   
    .projects-banner {
        
        .projects-banner-title {
            width: 100%;
        }
    }
}

