.residential-banner {
    /*background: url("../images/residential/residential-main-banner-image.jpg") no-repeat center center;*/
    background-size: cover !important;
    height: 400px;
    overflow: hidden;
    position: relative;

    .container-fluid,
    .row-m {
        height: 100%;
    }

    .residential-banner-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0;
        right: 0;
        
        h1 {
            color: #fff;
            font-size: 45px;
            font-weight: 700;
            line-height: 75px;
            margin: 0;
        }

        h2 {
            color: #fff;
            font-size: 45px;
            font-weight: 700;
            line-height: 75px;
            margin: 0;
        }
    }
}

.residential-content {
    
    p {
        text-align: center;
        line-height: 28px;
        color: #2B303A;
        font-size: 20px;
        font-weight: 400;
        margin: 72px 0;
    }
}

.residential-online-shop {
    position: relative;
    /*background: url("../images/residential/online-shop-banner-image-resized.jpg") no-repeat center 85%;*/
    background-size: cover !important;
    z-index: 1;
    padding-top: 86px;

    h2 {
        text-transform: uppercase;
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        padding: 0 0 28px 0;
        line-height: 49px;
        margin-bottom: 0;
    }

    p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: #fff;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
}

.residential-online-shop::after {
    content: "";
    background-color: rgba(43, 48, 58, 0.8);
    width: 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

@media (max-width: 1199px) {
    .residential-banner {
        
        .residential-banner-title {
            width: 43%;
        }
    }
}

@media (max-width: 767px) {   
    .residential-online-shop-left {
        text-align: center;
    }
    
    .residential-banner {
        
        .residential-banner-title {
            width: 100%;
        }
    }
    
    .residential-online-shop::after {
        width: 100%;
    }
}