.work-with-us-banner {
    background: url("../images/work-with-us/work-main-banner-image.jpg") no-repeat;
    background-position-x: left;
    background-position-y: 78%;
    background-size: cover;
    height: 400px;
    overflow: hidden;
    position: relative;

    .container-fluid,
    .row-m {
        height: 100%;
    }

    .work-with-us-banner-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0;
        right: 0;
        
        h1 {
            color: #fff;
            font-size: 45px;
            font-weight: 700;
            line-height: 75px;
            margin: 0;
            text-transform: capitalize;
        }
    }
}

.work-with-us-nav {

    min-height: 157px;

    @media(min-width: 1200px) {
        .affix {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background: #ffffff;
            z-index: 1;
            height: 120px;
        }
    }

    .work-with-us-nav-list {
        margin: 62px 0 64px 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        color: #2B303A;
        display: block;
    }

    // a:hover {
    //     border-bottom: 2px solid #DA2128;
    //     padding-bottom: 5px;
    // }

    .work-with-us-nav-active {
        border-bottom: 2px solid #DA2128;
        padding-bottom: 5px;
    }
}

.work-with-us-culture {
    background-color: #F5F6F6;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 86px;

    .col-12-m {
        padding-left: 15px;
        padding-right: 15px;
    }

    h2 {
        font-size: 45px;
        font-weight: 300;
        line-height: 54px;
        color: #DA2128;
        text-transform: capitalize;
        margin-bottom: 28px;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: #2B303A;
    }

    .work-with-us-culture-addition {
        display: none;
    }
}

.work-with-us-philosophy {
    padding-top: 69px;
    padding-bottom: 93px;
    text-align: center;

    .work-with-us-philosophy-evolve,
    .work-with-us-philosophy-excite,
    .work-with-us-philosophy-energise {
        width: 32%;
        padding: 15px;
        background-color: #F5F6F6;
        border-radius: 4px; 
        margin-right: auto;
    }

    .work-with-us-philosophy-energise {
        margin-right: 0;
    }

    img {
        width: 62px;
        height: 62px;
        margin-top: 42px;
        margin-bottom: 32px;
    }

    h2 {
        font-size: 45px;
        font-weight: 300;
        line-height: 54px;
        color: #DA2128;
        text-transform: capitalize;
        margin-bottom: 29px;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: #2B303A;
        margin-bottom: 36px;
    }

    .work-with-us-philosophy-addition {
        display: none;
    }

    .work-with-us-philosophy-columns {
        padding-left: 15px;
        padding-right: 15px;

        h4 {
            font-size: 25px;
            font-weight: 700;
            line-height: 30px;
            color: #DA2128;
            margin-bottom: 32px;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            color: #2B303A;
            margin-bottom: 20px;
            min-height: 112px;
        }

        .find-out-more {
            font-weight: 700;
            margin-bottom: 36px;
            text-transform: capitalize;
            background-color: transparent;
            border: none;
            font-size: 20px;
            padding: 0;
            transition: unset;
            outline: none;
        }

        .hide-column {
            display: none;
        }

        .wide-column {
            width: 100%;
            padding-left: 31px;
            padding-right: 36px;
        }
    } 
}

.work-with-us-five-values-principles {
    background-color: #F5F6F6;
    padding-top: 72px;
    padding-bottom: 87px;

    .values-principles-row {
        display: flex;
        justify-content: space-between;
    }

    h2 {
        font-size: 45px;
        font-weight: 300;
        line-height: 54px;
        color: #DA2128;
        margin-bottom: 44px;
        text-align: center;

        span {
            display: block;
            font-size: 24px;
            font-weight: 700;
            line-height: 60px;
            color: #2B303A;
            margin-top: 16px;
            text-align: center;
        }
    }

    .work-with-us-five-values,
    .work-with-us-five-principles {
        background-color: #2B303A;
        border-radius: 4px;
        padding: 58px 56px 57px 52px;
        max-width: 47%;

        h3 {
            color: rgba(240, 168, 171, 0.8);
            font-size: 25px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 30px;
        }

        ol {
            list-style: none;
            margin: 0 0 0 53px;
            padding: 0;
            counter-reset: values-principles-counter;
        }

        li {
            position: relative;
            margin-bottom: 20px;
        }

        li:last-child {
            margin-bottom: 0;
        }

        li:before {
            counter-increment: values-principles-counter;
            content: counter(values-principles-counter);
            color: rgba(255, 255, 255, 0.2);
            line-height: 72px;
            font-size: 60px;
            font-weight: 700;
            margin-left: -53px;
            display: inline-block;
            position: absolute;
            top: -9px;
        }

        ol li {
            font-size: 20px;
            font-weight: 300;
            line-height: 28px;
            color: #fff;

            span {
                font-weight: 700;
            }
        }
    }

    .work-with-us-five-values {
        margin-left: 15px;
    }
    .work-with-us-five-principles {
        margin-right: 15px;
    }
}

.work-with-us-our-story {
    padding-top: 74px;
    padding-bottom: 64px;
    text-align: center;
        
    h2 {
        font-size: 45px;
        font-weight: 300;
        line-height: 54px;
        color: #DA2128;
        margin-bottom: 34px;
        text-transform: capitalize;
    }

    .our-story-list {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 41px;

        li {
            position: relative;
            border-radius: 4px;
            max-width: 153px;
            width: 152px;
            height: 115px;
        }
        
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            font-size: 15px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            color: rgba(43, 48, 58, 0.3);
            background-color: #F5F6F6;
            border-radius: 4px;
        }

        a:hover {
            background-color: #DA2128;
            color: #fff;
        }

        .our-story-clicked {
            background-color: #DA2128;
            color: #fff;
        }
    }

    .our-story-list:before {
        content: "";
        position: absolute;
        top: calc(50% - 1.5px); 
        width: 100%;
        height: 3px;
        border-radius: 20px;
        background-color: #D5D5D5;
    }

    .our-story-content {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: #2B303A;
        margin-bottom: 17px;
        display: none;
        transition: unset; 
    }

    .active-content {
        display: block;
    }
}

.work-with-us-join-us {
    background: url("../images/work-with-us/join-us-image.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;

    .container, .row-m {
        height: 100%;
    }

    .join-us {
        position: relative;
        width: 757px;
        
    }
    
    .join-us-overlay {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 2000px;
        background-color: rgba(43, 48, 58, 0.8);
    }

    .join-us-text {
        position: relative;
        height: 100%;
        padding: 57px 83px 64px 15px;
        padding-right: 83px;

        a {
            color: white;
        }
        
        h2, h3, p {
            color: #fff;
        }

        h2 {
            font-size: 45px;
            font-weight: 700;
            line-height: 54px;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        h3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            margin-top: 10px;
            margin-bottom: 44px;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 20px;
        }
    }
}

.work-with-us-our-activities {
    padding-top: 70px;
    padding-bottom: 79px;

    h2 {
        font-size: 45px;
        font-weight: 300;
        line-height: 54px;
        text-transform: capitalize;
        color: #DA2128;
        text-align: center;
        margin-bottom: 28px;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: #2B303A;
        margin-bottom: 0;
    }

    .col-count-2 {
        column-count: 2;
        @media(max-width: 768px) {
            column-count: 1;
        }
    }

    .our-activities-slider {
        margin-top: 58px;
    }

    .our-activities-slide {

        margin-left: 15px;
        margin-right: 15px;

        img {
            width: 100%;
            height: 257px;
            object-fit: cover;
        }
    }

    .slick-prev:before, .slick-next:before {
        color: #D5D5D5;
        font-size: 30px;
    }

    .slick-prev {
        left: -30px;
    }

    .slick-next {
        right: -20px;
    }
}

.scroll-up {
    display: inline-block;
    position: fixed;
    width: 56px;
    height: 56px;
    bottom: 45px;
    right: 15px;
    z-index: 2;
    opacity: 0;
    transition: opacity .3s;

    &.show-scroll-up {
        opacity: 1;
    }

    img {
        width: 100%;
    }
}

.work-with-us-meet-our-people {
    background-color: #F5F6F6;
    padding-top: 74px;
    padding-bottom: 83px;

    h2 {
        font-size: 45px;
        font-weight: 300;
        line-height: 54px;
        margin-bottom: 0;
        color: #DA2128;
        text-align: center;
    }

    .meet-our-people-description {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        color: #2B303A;
        margin-top: 28px;
        margin-bottom: 30px;
        text-align: center;
    }

    .meet-our-people-image {
        position: relative;
        width: 192px;
        height: 192px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;

        a {
            display: inline-block;
            height: 100%;
            border-radius: 50%;
        }
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        
        .meet-our-people-image-overlay {
            position: static;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(218, 33, 40, 0.78); 
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .meet-our-people-image-overlay p {
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
            color: #fff;
            margin: 0;
        }
    }
    
    .meet-our-people-image:hover .meet-our-people-image-overlay,
    .meet-our-people-image:active .meet-our-people-image-overlay {
        position: absolute;
        cursor: pointer;
    }

    // Modals 
    .meet-our-people-modal-wrapper {
        display: none;
    }
    // end of Modals

    .meet-our-people-name {
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        color: #DA2128;
        margin-top: 27px;
        margin-bottom: 15px;
        height: 44px;
    }

    .meet-our-people-position {
        font-size: 14.5px;
        font-weight: 700;
        line-height: 18px;
        font-style: italic;
        margin: 0;
    }

    .scroll-up {
        display: inline-block;
        position: fixed;
        width: 56px;
        height: 56px;
        bottom: 45px;
        right: 15px;
        z-index: 2;
        opacity: 0;
        transition: opacity .3s;

        &.show-scroll-up {
            opacity: 1;
        }

        img {
            width: 100%;
        }
    }
}   

// Modal content
.fancybox-slide--html .fancybox-close-small {
    padding: 0 !important;
}
.fancybox-content {
    padding: 46px 53px 49px 54px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.36);
    max-width: 694px !important;

    button {
        padding: 0;
        background-color: #DA2128;
        color: #fff;
        opacity: 1;
        border-radius: 50%;
        margin-top: 16px;
        margin-right: 15px;
    }

    .fancybox-button svg {
        color: white;
    }
    
    .meet-our-people-image-modal {
        position: relative;
        width: 192px;
        height: 192px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 41px auto;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    h2 {
        font-size: 45px;
        font-weight: 300;
        line-height: 54px;
        color: #DA2128;
        text-align: center;
        margin-bottom: 0;
    }

    .work-position-modal {
        font-size: 22px;
        font-weight: 700;
        font-style: italic;
        line-height: 27px;
        color: #2B303A;
        text-align: center;
        margin: 12px 0 40px 0;
    }

    .meet-our-people-content-modal {
        
        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 28px;
            color: #2B303A;
            width: 587px;
            margin-bottom: 40px;
        }
    }

    .connect-modal {
        padding-top: 12px;
        display: flex;
        justify-content: center;

        .connect-modal-inner {
            display: inline-block;
        }
        
        .connect-link {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        a {
            display: block;
            text-decoration: none;
            padding: 8px;
        }
        
        .connect {
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 700;
            line-height: 27px;
            color: #2B303A;
            margin-right: 5px;
        }

        .linkedin {
            width: 34px;
            height: 34px;
            margin-left: 5px;
        }
    }
}

@media (max-width: 1500px) {
    .work-with-us-join-us {
        .join-us {
            width: 715px;
        }    
    }
}

@media (max-width: 1330px) {
    .work-with-us-meet-our-people {
        .scroll-up {
            right: -45px;
        }
    }
}

@media (max-width: 1260px) {
    .work-with-us-meet-our-people {
        padding-bottom: 130px;

        .scroll-up {
            right: -15px;
            bottom: -75px;
        }
    }
}

@media (max-width: 1030px) {
    .work-with-us-meet-our-people {

        .scroll-up {
            right: 40px;
        }
    }
}

@media (max-width: 1199px) {
    .work-with-us-banner {
        
        .work-with-us-banner-title {
            width: 43%;
        }
    }

    .work-with-us-nav {

        .col-12-m {
            display: flex;
            justify-content: center;
        }

        .work-with-us-nav-list {
            display: inline-block;
            text-align: center;
        }

        li {
            margin-bottom: 20px;

            a {
                display: inline-block;
            }
        }

        li:last-child {
            margin-bottom: 0;
        }
    }

    .work-with-us-our-story {

        .our-story-list {
            display: block; 
            margin-bottom: 0;

            li {
                margin: 0 auto 20px auto;
                max-width: unset;
                width: 80%;
            }

            li:last-child {
                margin-bottom: 0;
            }
        }

        .our-story-list:before {
            position: absolute;
            top: 0;
            left: calc(50% - 1.5px);
            width: 3px;
            height: calc(100% - 20px);
        }

        .our-story-content {
            padding-top: 40px;
        }
    }

    .work-with-us-join-us {
        
        .join-us {
            width: 610px;
        }    
    }

    .work-with-us-meet-our-people {

        .meet-our-people-board-row {
            display: flex;
            justify-content: center;
        }

        .meet-our-people-image {
            margin-top: 40px;
        }
    }
}

@media (max-width: 1030px) {
    .work-with-us-our-activities {
        
        .slick-prev {
            left: 30px;
            z-index: 5;
        }

        .slick-next {
            right: 40px;
            z-index: 5;
        }
    }

    .work-with-us-meet-our-people {
        padding-bottom: 83px;

        .scroll-up__wrapper {
            text-align: center;
            margin-top: 50px;

            .scroll-up {
                position: static;
            }
        }
    }
}

@media (max-width: 979px) {
    .work-with-us-philosophy {
        
        .work-with-us-philosophy-evolve,
        .work-with-us-philosophy-excite,
        .work-with-us-philosophy-energise {
            width: 100%;
            margin-bottom: 30px;
        }

        .work-with-us-philosophy-energise {
            margin-bottom: 0;
        }
    }

    .work-with-us-five-values-principles {
    
        .values-principles-row {
            display: block;
        }

        .work-with-us-five-values,
        .work-with-us-five-principles {
            max-width: 100%;
            margin-left: 15px;
            margin-right: 15px;

            h3 {
                text-align: center;
            }
        }

        .work-with-us-five-values {
            margin-bottom: 45px;
        }
    }

    .work-with-us-join-us {
        
        .join-us {
            width: 500px;
        }    
    }

    .work-with-us-meet-our-people {

        .meet-our-people-description {
            width: 100%;
        }
    }
}

@media (max-width: 767px) {   
    .work-with-us-banner {
        
        .work-with-us-banner-title {
            width: 100%;
        }
    }

    .work-with-us-join-us {
        
        .container {
            padding-left: 0;
            padding-right: 0;
        }

        .join-us {
            width: 100%;

            .join-us-text {
                padding: 57px 15px 64px 15px;
                text-align: center;
            }
        }    
    }

    .work-with-us-our-activities {
        
        .our-activities-slide {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .work-with-us-meet-our-people {
        
        .meet-our-people-board-row {
            display: block;
        }

        .meet-our-people-name {
            margin-top: 15px;
            height: unset;
        }

        .meet-our-people-position {
            margin-bottom: 40px;
        }
    }

    .fancybox-content {
        
        .meet-our-people-content-modal {

            p {
                width: unset;
            }
        }
    }
}

@media (max-width: 425px) {
    .work-with-us-philosophy {
        
        .work-with-us-philosophy-columns {
            
            .wide-column {
                padding-left: 16px;
                padding-right: 18px;
            }
        }
    }
}