// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button,
.read-more-blog {
    transition: background 1s;
}
button:hover,
.read-more-blog:hover {
    background: #c1191f;
}
.search-submit:hover {
    cursor: pointer;
}
input.search-submit {
    padding: 16px 24px 16px 25px;
    background-color: #DA2128;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    outline: none;
    line-height: 4px;
    margin-left: 5px;
    display: block;
    float: left;

    &:hover {
        background: #c1191f;
    }

}
.button-main {
    padding: 13px 24px 12px 25px;
    background-color: #DA2128;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    outline: none;
    line-height: 24px;
}

.subscribe {
    padding: 9px 36px 8px 33px;
    text-align: center;
    width: 100%;
}

.get-free-quote {
    padding: 13px 34px 12px 30px;
}

.read-more {
    margin-top: 21px;
    margin-bottom: 80px;
    z-index: 1;
    position: relative;
}

.commercial {
    padding: 9px 35px 8px 36px;
    margin-top: 7px;
    margin-top: 24px;
    margin-bottom: 21px;
}

.projects {
    padding: 12px 43px 13px 44px;
    margin-top: 4px;
    margin-bottom: 83px;
}

.read-more-blog {
    padding: 13px 36px 12px 36px;
    display: inline-block;
    text-decoration: none;
}

.read-more-blog:hover {
    color: #fff;
}

.about-us {
    padding: 12px 44px 13px 45px;
    margin-top: -6px;
}

.read-more-work-culture {
    padding: 13px 36px 12px 36px;
    margin-top: 21px;
    transition: unset;
    outline: none;
}
.arrow-btn:hover {
    background: url("../images/work-with-us/icons/close-arrow.svg") no-repeat center center !important;
}

.arrow-btn {
    background: url("../images/work-with-us/icons/close-arrow.svg") no-repeat center center;
    width: 37px;
    height: 34px;
    border: none;
    border-radius: 4px;
    background-color: #DA2128;
    padding: 0;
    margin-top: 21px;
    text-indent: -200vw;
    padding: 0;
}

.join-us-btn {
    padding: 12px 34px 13px 34px;

}

.contact-send {
    padding: 13px 31px 12px 32px;
    margin-top: 18px;
}

#button-popup {
    background-color: #DA2128 !important;
    color: #fff !important;
    padding: 9px 36px 7px 33px !important;
    border-radius: 4px;
    margin-bottom: 42px;
}

@media (max-width: 586px) {
    #button-popup {
        width: 100%;
        text-align: center;
    }
}

button {
  &.slick-next,
  &.slick-prev {
    &:before {
      color: #da2128;
    }
  }
}
