.gut-tabbed_accordions {
  .tabs {
    display: flex;
    justify-content: center;
    border: 0;
    margin: 0 !important;
    padding: 0 !important;
    background: 0;
    list-style: none;

    .tab {
      background-color: #eee;
      margin-right: 10px!important;
      text-transform: uppercase;
      font-size: 14px;
      border-radius: 3px!important;
      border: 0!important;
      width: 150px;
      min-height: unset;
      line-height: 1;

      &.is-active {
        background-color: #cf2e2e !important;

        a {
          color: #fff!important;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      a {
        vertical-align: middle;
        width: 100%;
        word-break: break-word;
        text-decoration: none;
        color: grey!important;
        height: 100%;
        padding: 40px 20px;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .tabcontents {
    .tabcontent {
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;

        li {
          text-align: center;
          line-height: 28px;
          color: #2b303a;
          font-size: 20px;
          font-weight: 400;
          text-transform: none;
          width: auto;
          // position: relative;
          margin: 0 !important;
          padding-bottom: 7px;
          min-height: unset;

          a {
            padding: 0;
          }

          &::after {
            content: none;
          }

          ul {
            display: none;
            padding-bottom: 10px;
            font-size: 15px;

            li {
              font-size: 15px;
              min-height: unset;

              a {
                font-size: 15px;
              }
            }
          }

          .cross {
            position: absolute;
            right: -20px;
            transition: 0.2s ease;
            top: 8px;

            &::after {
              content: "";
              background: url(../images/arrows/arrow-down.svg);
              background-repeat: no-repeat;
              width: 12px;
              display: block;
              position: relative;
              height: 12px;
              background-size: contain;
            }

            &.active {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}
