
	
.form_title {
	font-family:'VegurLight';
	font-size:27px;
	color:#ffffff;
	margin-top:10px;
	text-align:center;
	margin-top:2px;
	}

p {
	font-family:'VegurLight';
	font-size:12px;
	color:#6f6f6f;
	}

a {
	font-family:'VegurLight';
	font-size:27px;
	color:#cf00f5;
	text-decoration:none;
	}

a:hover {
	font-family:'VegurLight';
	font-size:27px;
	color:#cf00f5;
	text-decoration:underline;
	}

img {
	border:none;
	}

.clear {
	clear:both;
	}
	
#main_wrapper {
	width:963px;
	margin:0 auto;
	}
	
#header {
	padding-top:20px;
	width:960px;
	margin:0 auto;
	}
	
#top_logo {
	float:left;
	}
	
#facebook_share {
	float:right;
	}
	
#facebook_share a {
	background-image:url(../img/facebook_shareDRK.png) !important;
	background-repeat:no-repeat;
	display:block;
	height:55px;
	width:187px;
	}
	
#facebook_share a:hover {
	background-image:url(../img/facebook_share_purple.png) !important;
	background-repeat:no-repeat;
	display:block;
	height:55px;
	width:187px;
	}
	
#main_content_header {
	background-image:url(../img/purple_bar_area.png);
	background-repeat:no-repeat;
	height:150px;
	clear:both;
	width:983px;
	margin:0 auto;
	}
	
#main_content {
	background-color:#ffffff;
	width:960px;
	margin-top:-13px;
	min-height:1000px;
	}
	
#main_content_footer {
	background-image:url(../img/ContentBOTTOM.png);
	background-repeat:repeat;
	height:50px;
	clear:both;
	width:960px;
	}
	
#floating_banner_wrapper {
	clear:both;
	padding-top:80px;
	}
	
#floating_banner_left {
	font-family:'VegurLight';
	font-size:38px;
	color:#ffffff;
	padding-left:20px;
	text-align:center;
	width:175px;
	float:left;
	margin-top:-12px;
	}

#floating_banner_middle {
	font-family:'VegurLight';
	font-size:38px;
	color:#ffffff;
	float:left;
	text-align:center;
	width:580px;
	margin-top:-12px;
	}

#floating_banner_right {
	float:right;
	padding-right:24px;
	}
	
.left_content {
	width:430px;
	float:left;
	padding-left:34px;
	background-color:#ffffff;
	}
	
.right_content {
	width:440px;
	float:right;
	background-image:url(../img/form_purple.jpg);
	background-repeat:no-repeat;
	height:315px;
	margin-top:20px;
	padding-right:26px;
	background-color:#ffffff;
	margin-bottom:28px;
	}
	
.left_content1 {
	width:463px;
	float:left;
	padding-left:34px;
	background-color:#ffffff;
	}
	
.right_content1 {
	width:463px;
	float:right;
	background-color:#ffffff;
	}
	
.separator {
	background-image:url(../img/separator.jpg);
	background-repeat:no-repeat;
	background-position:center;
	height:50px;
	clear:both;
	}
	
#footer_bottom {
	margin:0 auto;
	width:960px;
	}
	
.copyright {
	float:left;
	margin-top:40px;
	width:460px;
	font-family:'VegurLight';
	font-size:12px;
	color:#ffffff;
	}
	
#footer_left2 {
	float:right;
	padding-bottom:40px;
	width:460px;
	margin-top:28px;
	text-align:right;
	}
	
#footer_left2 ul {
	display: inline;
	margin: 0 5px 0 0;
	padding:20px 0 0 0;
	}
	
#footer_left2 li {
	display: inline;
	margin: 0 5px 0 0;
	padding:20px 0 0 0;
	}
	
/***************************************************
			  	  START FORM 
***************************************************/
	
#contact_form ul {
	list-style:none;
	float:left;
	margin:-5px 0 0 45px;
	padding:0;
	width:360px;
	}

#contact_form  li {
	float: left;
	margin-bottom:10px;
	position: relative;
	height:55px;
	list-style-type: none;
	color: #1F242F;
	font-family: 'VegurLight';
	}

#contact_form label {
	width: 150px;
	height: 20px;
	display: block;
	color: #ffffff;
	font-family: 'VegurLight';
	font-size: 13px;
	}
	
#contact_form  li.textarea {
	height:130px;
	}
	
#contact_form  li.firstname {
	float:left;
	}
	
#contact_form  li.lastname {
	float:left;
	padding-left:20px;
	}
	
#contact_form  li.email {
	float:left;
	}
	
#contact_form  li.zip {
	float:left;
	padding-left:20px;
	}
	
#contact_form  li.month {
	float:left;
	}
	
#contact_form  li.day {
	float:left;
	}
	
#contact_form  li.year {
	float:left;
	}

#contact_form  li.button {
	float: left;
	margin-bottom:10px;
	position: relative;
	height: 35px;
	list-style-type: none;
	margin-left:-5px;
	}

#contact_form input {
	width: 150px;
	margin-bottom: 15px;
	background-color: #f2f2f2;
	color: #6f6f6f;
	border: 1px solid #E7E7E9;
	padding: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: 'VegurLight';
	font-size: 15px;
	}
	
#contact_form input.long {
	width: 338px;
	margin-bottom: 15px;
	background-color: #f2f2f2;
	color: #6f6f6f;
	border: 1px solid #E7E7E9;
	padding: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: 'VegurLight';
	font-size: 15px;
	}

#contact_form input:focus, textarea:focus {
	background-color: #FFFFFF;
	color: #333333;
	border: 1px solid #5583a3;
	}

input[type=submit] {
	background-color:transparent !important;
	background-image:url(../img/form_button_purple.png);
	background-repeat:no-repeat;
	border:none !important;
	cursor:pointer;
	height:45px;
	width:160px !important;
	*margin-top:68px;
	*margin-left:-164px;
	}
	
.form_submit {
	background-image:url(../img/form_button_purple.png);
	background-repeat:no-repeat;
	height:45px;
	width:160px;
	}

#contact_form .required {
	color:#cf00f5; 
	font-size:11px; 
	}

label.large_contact {
	color:#313035;
	display:block;
	font-family: 'VegurLight';
	font-size:18px;
	}
	
.form_error {
	border:  1px solid #406a27;
	}

#thanks {
	border:  1px solid #bcbcbc;
	width: 400px;
	padding: 0px 10px 0px 0px;
	background-color:#f2f3ea;
	text-align: left;
	}

#contactmessage {
	clear: both;
    color: #2D78D2;
    font-family: 'VegurLight';
    font-size: 15px;
    padding-top: 20px;
    text-align: left;
	}

.success {
	padding: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-top: 85px;
	color: #333333;
	border: 1px solid #E7E7E9;
	background-color: #f2f2f2;
	font-family: 'VegurLight';
	font-size: 16px;
	margin-left:20px;
	width:368px;
	}
	
/***************************************************
			  	  START SLIDER 
***************************************************/
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:-8px;
	background-image:url(../img/Gallery_Left_purple.png);
	background-repeat:no-repeat;
	height:55px;
	width:70px;
}
.nivo-nextNav {
	right:15px;
	background-image:url(../img/Gallery_Right_purple.png);
	background-repeat:no-repeat;
	height:55px;
	width:70px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

#slider .nivo-controlNav {
	position:absolute;
	bottom:-219px; /* Put the nav below the slider */
	margin-left:5px;
	width:445px;
}
#slider .nivo-controlNav img {
	display:inline; /* Unhide the thumbnails */
	position:relative;
	margin-right:8px;
}

.tipsy { padding: 5px; font-size: 11px; opacity: 1.0; filter: alpha(opacity=100); background-repeat: no-repeat;  background-image:url(../img/tipsy.png); margin-top: 10px; 	color:#1F242F; font-family:'VegurLight'; }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: #cf00f5; color: white; max-width: 200px; text-align: center; }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center;}
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }

