@charset "UTF-8";
/* CSS Document 

Style Sheet for Purple */

@font-face {
	font-family: 'VegurLight';
	src: url(../css/vegur-r_0.602-webfont.eot);
	src: local('☺'), url(../css/vegur-r_0.602-webfont.woff) format('woff'), url(../css/vegur-r_0.602-webfont.ttf) format('truetype'), url(../css/vegur-r_0.602-webfont.svg#webfontyJToP4HK) format('svg');
	font-weight: normal;
	font-style: normal;
	}
	
body {
	background-color:#F4F4F4;
	}
	
h1 {
	font-family: 'VegurLight';
	font-size: 30px;
	color: #FFF;
	}

h2 {
	font-family: 'VegurLight';
	font-size: 27px;
	color: #333333;
	font-weight: normal;
	line-height: 1.2em;
	margin-top: 14px;
	text-align: center;
	}

h3 {
	font-family:'VegurLight';
	font-size:22px;
	color:#F2F2F2;
	text-align:center;
	margin:5px;
	}

h4 {
	font-family:'VegurLight';
	font-size:15px;
	color:#6f6f6f;
	font-weight:normal;
	}

h5 {
	font-family:'VegurLight';
	font-size:13px;
	color:#333333;
	}

h6 {
	font-family:'VegurLight';
	font-size:11px;
	color:#333333;
	}

.special {
	font-family:'VegurLight';
	font-size:27px;
	color:#FAB631;
	}
.formholder {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #EBAC2D;
	padding:5px;
	background-color:#FFF;
}
.formholder1 {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #EBAC2D;
	padding: 10px;
	background-color: #FFF;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 10px;
}
.holder {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image:bgland.png; 		
	background-color: #FFF;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.holder2 {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image:bgland.png; 		
	background-color: #FFF;
}
.holderleft {
	float: left;
	padding-top: 20px;
	width: 300px;
	padding-right: 20px;
	padding-left: 20px;
	background-color:#fff;
	min-height:640px;
}
.holderright {
	float: right;
	width: 580px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #FAB631;
	border-radius: 10px 0px 0px 0px; 
	-moz-border-radius: 10px 0px 0px 0px; 
	-webkit-border-radius: 10px 0px 0px 0px;
	min-height:640px;
	
}
.holderright2 {
	float: right;
	width: 580px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: #FAB631;
	border-radius: 10px 0px 0px 0px; 
	-moz-border-radius: 10px 0px 0px 0px; 
	-webkit-border-radius: 10px 0px 0px 0px;
	min-height:640px;
	
}
.float {
	clear: both;
	width: 960px;
	visibility: hidden;
}
.formheading {
	padding: 8px;
	background-color: #333333;
	color: #F2F2F2;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.formcontent {
	padding: 10px;
	background-color:#333;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10p
}
.formcontent2 {
	padding: 10px;
	background-color:#333;
	text-align:center;
	color:#fff;
}
.bghead {
	padding: 0px;
	height: 100px;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.bghead1 {
	padding: 0px;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-color: #FFF;
}
.logoholder {
	margin-right: auto;
	margin-bottom: 12px;
	margin-left: auto;
}

#contactform ul {
	list-style:none;
	margin:-5px 0 0 45px;
	padding:0;
	width:360px;
	}

#contactform  li {
	list-style-type: none;
	color: #1F242F;
	font-family: 'VegurLight';
	}

#contactform label {
	width: 150px;
	height: 20px;
	display: block;
	color: #ffffff;
	font-family: 'VegurLight';
	font-size: 13px;
	}
#contactform input.long {
	width: 440px;
	margin-bottom: 15px;
	background-color: #f2f2f2;
	color: #6f6f6f;
	border: 1px solid #E7E7E9;
	padding: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: 'VegurLight';
	font-size: 15px;
	}
#contactform textarea.long {
	width: 440px;
	margin-bottom: 15px;
	background-color: #f2f2f2;
	color: #6f6f6f;
	border: 1px solid #E7E7E9;
	padding: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: 'VegurLight';
	font-size: 15px;
	}
#contactform select.long {
	width: 440px;
	margin-bottom: 15px;
	background-color: #f2f2f2;
	color: #6f6f6f;
	border: 1px solid #E7E7E9;
	padding: 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: 'VegurLight';
	font-size: 15px;
	}
#contactform input:focus, textarea:focus {
	background-color: #FFFFFF;
	color: #333333;
	border: 1px solid #5583a3;
	margin-bottom:8px;
	}

input[type=submit] {
	background-color:transparent !important;
	background-image:url(../images/butup.png);
	background-repeat:no-repeat;
	border:none !important;
	cursor:pointer;
	height:51px;
	width:252px !important;
	*margin-top:68px;
	*margin-left:-164px;
	}
	
.form_submit {
	background-image:url(../images/butup.png);
	background-repeat:no-repeat;
	height:45px;
	width:160px;
	}

#contactform .required {
	color:#FFFF00;
	font-size:11px;
}
#contactform .button {
	padding-top:10px;
}
.bgbottom {
	background-image: url(../images/bgbottom.png);
	height: 100px;
	width: 960px;
	padding:0px
	margin:0px;
}.gotoweb {
	text-align: center;
	padding: 10px;
}
.gotoweb2 {
	text-align: center;
	padding: 10px;
	margin-left:auto;
	margin-right:auto;
	width:400px;
	
}

.best {
	text-align: center;
	display: block;
	padding: 15px;
}
.orange {
	color: #F5B62E;
}
.holder .holderleft p {
	text-align: center;
}
